@font-face {
	font-family: 'travelcircles_icons';
	src:url('/assets/fonts/travelcircles_icons.eot?-bpl8mm');
	src:url('/assets/fonts/travelcircles_icons.eot?#iefix-bpl8mm') format('embedded-opentype'),
		url('/assets/fonts/travelcircles_icons.woff?-bpl8mm') format('woff'),
		url('/assets/fonts/travelcircles_icons.ttf?-bpl8mm') format('truetype'),
		url('/assets/fonts/travelcircles_icons.svg?-bpl8mm#travelcircles_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*=" cat-icon-"], [class^=cat-icon-] {
	font-family: 'travelcircles_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cat-icon-adventure-travel:before {
	content: "\e600";
}

.cat-icon-arts-and-liesure:before {
	content: "\e601";
}

.cat-icon-beaches:before {
	content: "\e602";
}

.cat-icon-budget-travel:before {
	content: "\e603";
}

.cat-icon-coasts-and-islands:before {
	content: "\e604";
}

.cat-icon-diving-and-snorkelling:before {
	content: "\e605";
}

.cat-icon-ecotourism:before {
	content: "\e606";
}

.cat-icon-family-travel:before {
	content: "\e607";
}

.cat-icon-festivals-and-events:before {
	content: "\e608";
}

.cat-icon-film-and-television:before {
	content: "\e609";
}

.cat-icon-food-and-drink:before {
	content: "\e60a";
}

.cat-icon-gear-and-tech:before {
	content: "\e60b";
}

.cat-icon-honeymoons-and-romance:before {
	content: "\e60c";
}

.cat-icon-luxury-travel:before {
	content: "\e60d";
}

.cat-icon-music:before {
	content: "\e60e";
}

.cat-icon-off-the-beaten-track:before {
	content: "\e60f";
}

.cat-icon-planes-and-trains:before {
	content: "\e610";
}

.cat-icon-road-trips:before {
	content: "\e611";
}

.cat-icon-round-the-world-travel:before {
	content: "\e612";
}

.cat-icon-travel-photography:before {
	content: "\e613";
}

.cat-icon-travel-shopping:before {
	content: "\e614";
}

.cat-icon-walking-and-trekking:before {
	content: "\e615";
}

.cat-icon-wildlife-and-nature:before {
	content: "\e616";
}
.cat-icon-backpacking:before {
    content: "";
    background: url(https://res.cloudinary.com/triptroop-prod/image/upload/v1447862184/assets/icons/backpacking.png);
    display: inline-block;
    background-size: 30px;
    width: 30px;
    height: 30px;
}
.cat-icon-solo:before {
    content: "";
    background: url(https://res.cloudinary.com/triptroop-prod/image/upload/v1447862184/assets/icons/solo.png);
    display: inline-block;
    background-size: 30px;
    width: 30px;
    height: 30px;
}
.cat-icon-conference:before {
    content: "";
    background: url(https://res.cloudinary.com/triptroop-prod/image/upload/v1447862184/assets/icons/conference.png);
    display: inline-block;
    background-size: 30px;
    width: 30px;
    height: 30px;
}