@font-face {
	font-family: 'tticons';
	src:url('/assets/fonts/tticons.eot?4nee00');
	src:url('/assets/fonts/tticons.eot?#iefix4nee00') format('embedded-opentype'),
		url('/assets/fonts/tticons.woff?4nee00') format('woff'),
		url('/assets/fonts/tticons.ttf?4nee00') format('truetype'),
		url('/assets/fonts/tticons.svg?4nee00#tticons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "tticons2";
  src:url("/assets/fonts//tticons2.eot");
  src:url("/assets/fonts//tticons2.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts//tticons2.woff") format("woff"),
    url("/assets/fonts//tticons2.ttf") format("truetype"),
    url("/assets/fonts//tticons2.svg#tticons2") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'tticons','tticons2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-at:before {
	content: "\e600";
}

.icon-Dglasses:before {
	content: "\e601";
}

.icon-Dtv:before {
	content: "\e602";
}

.icon-addbrowserwindow:before {
	content: "\e603";
}

.icon-addbutton2:before {
	content: "\e604";
}

.icon-addbutton:before {
	content: "\e605";
}

.icon-addcalendar:before {
	content: "\e606";
}

.icon-addconnection:before {
	content: "\e607";
}

.icon-adddocument:before {
	content: "\e608";
}

.icon-addfolder:before {
	content: "\e609";
}

.icon-addlocation:before {
	content: "\e60a";
}

.icon-addphoto:before {
	content: "\e60b";
}

.icon-addtag:before {
	content: "\e60c";
}

.icon-addtobasket:before {
	content: "\e60d";
}

.icon-addtocart2:before {
	content: "\e60e";
}

.icon-addtocart:before {
	content: "\e60f";
}

.icon-addtoshoppingbag:before {
	content: "\e610";
}

.icon-adduser:before {
	content: "\e611";
}

.icon-adjustments2:before {
	content: "\e612";
}

.icon-adjustments:before {
	content: "\e613";
}

.icon-airplane:before {
	content: "\e614";
}

.icon-airplay:before {
	content: "\e615";
}

.icon-alarmclock:before {
	content: "\e616";
}

.icon-alien:before {
	content: "\e617";
}

.icon-alligncenter:before {
	content: "\e618";
}

.icon-allignleft:before {
	content: "\e619";
}

.icon-allignright:before {
	content: "\e61a";
}

.icon-americanfootball:before {
	content: "\e61b";
}

.icon-anchor:before {
	content: "\e61c";
}

.icon-animalpaw:before {
	content: "\e61d";
}

.icon-antena:before {
	content: "\e61e";
}

.icon-apple:before {
	content: "\e61f";
}

.icon-apple2:before {
	content: "\e620";
}

.icon-armchair:before {
	content: "\e621";
}

.icon-arrow:before {
	content: "\e622";
}

.icon-atom:before {
	content: "\e623";
}

.icon-attachment:before {
	content: "\e624";
}

.icon-auction:before {
	content: "\e625";
}

.icon-babybed:before {
	content: "\e626";
}

.icon-babybottle:before {
	content: "\e627";
}

.icon-babychair:before {
	content: "\e628";
}

.icon-babyface:before {
	content: "\e629";
}

.icon-babyitem2:before {
	content: "\e62a";
}

.icon-babyitem:before {
	content: "\e62b";
}

.icon-babynipple:before {
	content: "\e62c";
}

.icon-babyshirt:before {
	content: "\e62d";
}

.icon-babystroller2:before {
	content: "\e62e";
}

.icon-babystroller:before {
	content: "\e62f";
}

.icon-babytoy:before {
	content: "\e630";
}

.icon-back:before {
	content: "\e631";
}

.icon-backspace:before {
	content: "\e632";
}

.icon-balloon:before {
	content: "\e633";
}

.icon-balloons:before {
	content: "\e634";
}

.icon-banana:before {
	content: "\e635";
}

.icon-bandages:before {
	content: "\e636";
}

.icon-banjo:before {
	content: "\e637";
}

.icon-banknote2:before {
	content: "\e638";
}

.icon-banknote:before {
	content: "\e639";
}

.icon-barcode:before {
	content: "\e63a";
}

.icon-barbecue2:before {
	content: "\e63b";
}

.icon-barbecue:before {
	content: "\e63c";
}

.icon-basketcheck:before {
	content: "\e63d";
}

.icon-basket:before {
	content: "\e63e";
}

.icon-basketball:before {
	content: "\e63f";
}

.icon-bat:before {
	content: "\e640";
}

.icon-bathtub:before {
	content: "\e641";
}

.icon-beans:before {
	content: "\e642";
}

.icon-bed:before {
	content: "\e643";
}

.icon-beermug:before {
	content: "\e644";
}

.icon-benchpress:before {
	content: "\e645";
}

.icon-bikeride:before {
	content: "\e646";
}

.icon-bike:before {
	content: "\e647";
}

.icon-billiards:before {
	content: "\e648";
}

.icon-bin:before {
	content: "\e649";
}

.icon-binoculars:before {
	content: "\e64a";
}

.icon-blender:before {
	content: "\e64b";
}

.icon-bluetooth:before {
	content: "\e64c";
}

.icon-boiledegg:before {
	content: "\e64d";
}

.icon-bolt:before {
	content: "\e64e";
}

.icon-bone:before {
	content: "\e64f";
}

.icon-book2:before {
	content: "\e650";
}

.icon-book:before {
	content: "\e651";
}

.icon-bookmark2:before {
	content: "\e652";
}

.icon-bookmark:before {
	content: "\e653";
}

.icon-books:before {
	content: "\e654";
}

.icon-bottle2:before {
	content: "\e655";
}

.icon-bottle3:before {
	content: "\e656";
}

.icon-bottle:before {
	content: "\e657";
}

.icon-bottomleftarrowalt:before {
	content: "\e658";
}

.icon-bottomleftarrow:before {
	content: "\e659";
}

.icon-bottomleft:before {
	content: "\e65a";
}

.icon-bottomrightarrowalt:before {
	content: "\e65b";
}

.icon-bottomrightarrow:before {
	content: "\e65c";
}

.icon-bottomright:before {
	content: "\e65d";
}

.icon-bowtie:before {
	content: "\e65e";
}

.icon-bowl:before {
	content: "\e65f";
}

.icon-box:before {
	content: "\e660";
}

.icon-brakes:before {
	content: "\e661";
}

.icon-bread:before {
	content: "\e662";
}

.icon-briefcase2:before {
	content: "\e663";
}

.icon-briefcase3:before {
	content: "\e664";
}

.icon-briefcase:before {
	content: "\e665";
}

.icon-britishpound:before {
	content: "\e666";
}

.icon-broccoli:before {
	content: "\e667";
}

.icon-brokenpipe:before {
	content: "\e668";
}

.icon-browserwindow:before {
	content: "\e669";
}

.icon-brush:before {
	content: "\e66a";
}

.icon-bug:before {
	content: "\e66b";
}

.icon-building:before {
	content: "\e66c";
}

.icon-buildings:before {
	content: "\e66d";
}

.icon-burger:before {
	content: "\e66e";
}

.icon-bus:before {
	content: "\e66f";
}

.icon-cabage:before {
	content: "\e670";
}

.icon-cabinet:before {
	content: "\e671";
}

.icon-cactus:before {
	content: "\e672";
}

.icon-cakeslice:before {
	content: "\e673";
}

.icon-calculator:before {
	content: "\e674";
}

.icon-calendar:before {
	content: "\e675";
}

.icon-camera2:before {
	content: "\e676";
}

.icon-cameradiafragm:before {
	content: "\e677";
}

.icon-camera:before {
	content: "\e678";
}

.icon-candle:before {
	content: "\e679";
}

.icon-candles:before {
	content: "\e67a";
}

.icon-candybox:before {
	content: "\e67b";
}

.icon-candycane:before {
	content: "\e67c";
}

.icon-candy:before {
	content: "\e67d";
}

.icon-car2:before {
	content: "\e67e";
}

.icon-carbattery2:before {
	content: "\e67f";
}

.icon-carbattery:before {
	content: "\e680";
}

.icon-carkey:before {
	content: "\e681";
}

.icon-cartire2:before {
	content: "\e682";
}

.icon-cartire:before {
	content: "\e683";
}

.icon-car:before {
	content: "\e684";
}

.icon-card2:before {
	content: "\e685";
}

.icon-card:before {
	content: "\e686";
}

.icon-carrot:before {
	content: "\e687";
}

.icon-cart2:before {
	content: "\e688";
}

.icon-cartcheck2:before {
	content: "\e689";
}

.icon-cartcheck:before {
	content: "\e68a";
}

.icon-cart:before {
	content: "\e68b";
}

.icon-casette:before {
	content: "\e68c";
}

.icon-cashier:before {
	content: "\e68d";
}

.icon-cathead:before {
	content: "\e68e";
}

.icon-cathedral:before {
	content: "\e68f";
}

.icon-CD2:before {
	content: "\e690";
}

.icon-CDcase:before {
	content: "\e691";
}

.icon-CD:before {
	content: "\e692";
}

.icon-celsius:before {
	content: "\e693";
}

.icon-champaign:before {
	content: "\e694";
}

.icon-charliechaplin:before {
	content: "\e695";
}

.icon-chart2:before {
	content: "\e696";
}

.icon-chart:before {
	content: "\e697";
}

.icon-checkbrowserwindow:before {
	content: "\e698";
}

.icon-checkbutton2:before {
	content: "\e699";
}

.icon-checkbutton:before {
	content: "\e69a";
}

.icon-checkcalendar:before {
	content: "\e69b";
}

.icon-checkconnection:before {
	content: "\e69c";
}

.icon-checkdocument:before {
	content: "\e69d";
}

.icon-checkfolder:before {
	content: "\e69e";
}

.icon-checkphoto:before {
	content: "\e69f";
}

.icon-checktag:before {
	content: "\e6a0";
}

.icon-checkuser:before {
	content: "\e6a1";
}

.icon-cheese:before {
	content: "\e6a2";
}

.icon-chefhat:before {
	content: "\e6a3";
}

.icon-cherries:before {
	content: "\e6a4";
}

.icon-chessbishop:before {
	content: "\e6a5";
}

.icon-chessking:before {
	content: "\e6a6";
}

.icon-chessknight:before {
	content: "\e6a7";
}

.icon-chesspawn:before {
	content: "\e6a8";
}

.icon-chessqueen:before {
	content: "\e6a9";
}

.icon-chessrook:before {
	content: "\e6aa";
}

.icon-chickenmeat:before {
	content: "\e6ab";
}

.icon-chip:before {
	content: "\e6ac";
}

.icon-chocolate:before {
	content: "\e6ad";
}

.icon-christmassdaycalendar:before {
	content: "\e6ae";
}

.icon-christmassdecoration:before {
	content: "\e6af";
}

.icon-christmassglobe:before {
	content: "\e6b0";
}

.icon-christmassstar:before {
	content: "\e6b1";
}

.icon-christmasstreelight:before {
	content: "\e6b2";
}

.icon-christmasstree:before {
	content: "\e6b3";
}

.icon-circularlink2:before {
	content: "\e6b4";
}

.icon-circularlink3:before {
	content: "\e6b5";
}

.icon-circularlink:before {
	content: "\e6b6";
}

.icon-classicphone2:before {
	content: "\e6b7";
}

.icon-classicphone:before {
	content: "\e6b8";
}

.icon-cleanhouse:before {
	content: "\e6b9";
}

.icon-cleantowels:before {
	content: "\e6ba";
}

.icon-cleanwindows:before {
	content: "\e6bb";
}

.icon-cleaning2:before {
	content: "\e6bc";
}

.icon-cleaningbucket:before {
	content: "\e6bd";
}

.icon-cleaningitem2:before {
	content: "\e6be";
}

.icon-cleaningitem:before {
	content: "\e6bf";
}

.icon-cleaningproduct2:before {
	content: "\e6c0";
}

.icon-cleaningproduct3:before {
	content: "\e6c1";
}

.icon-cleaningproduct:before {
	content: "\e6c2";
}

.icon-cleaningspray:before {
	content: "\e6c3";
}

.icon-cleaning:before {
	content: "\e6c4";
}

.icon-clipboard2:before {
	content: "\e6c5";
}

.icon-clipboard:before {
	content: "\e6c6";
}

.icon-clock2:before {
	content: "\e6c7";
}

.icon-clock:before {
	content: "\e6c8";
}

.icon-closet:before {
	content: "\e6c9";
}

.icon-clouddownload:before {
	content: "\e6ca";
}

.icon-cloudfolder:before {
	content: "\e6cb";
}

.icon-cloudupload:before {
	content: "\e6cc";
}

.icon-cloud:before {
	content: "\e6cd";
}

.icon-cloudyandwindy:before {
	content: "\e6ce";
}

.icon-cloudyday:before {
	content: "\e6cf";
}

.icon-cloudynight:before {
	content: "\e6d0";
}

.icon-cloudy:before {
	content: "\e6d1";
}

.icon-clover:before {
	content: "\e6d2";
}

.icon-clubscard:before {
	content: "\e6d3";
}

.icon-code2:before {
	content: "\e6d4";
}

.icon-code:before {
	content: "\e6d5";
}

.icon-coffeebean:before {
	content: "\e6d6";
}

.icon-coffeecup:before {
	content: "\e6d7";
}

.icon-coffeepot:before {
	content: "\e6d8";
}

.icon-collar:before {
	content: "\e6d9";
}

.icon-command:before {
	content: "\e6da";
}

.icon-compass:before {
	content: "\e6db";
}

.icon-condom:before {
	content: "\e6dc";
}

.icon-connection2:before {
	content: "\e6dd";
}

.icon-connection3:before {
	content: "\e6de";
}

.icon-connection4:before {
	content: "\e6df";
}

.icon-connection:before {
	content: "\e6e0";
}

.icon-connection5:before {
	content: "\e6e1";
}

.icon-controller:before {
	content: "\e6e2";
}

.icon-cooker:before {
	content: "\e6e3";
}

.icon-corn:before {
	content: "\e6e4";
}

.icon-creditcard:before {
	content: "\e6e5";
}

.icon-creditcards:before {
	content: "\e6e6";
}

.icon-crop:before {
	content: "\e6e7";
}

.icon-crossedbones:before {
	content: "\e6e8";
}

.icon-crossroads:before {
	content: "\e6e9";
}

.icon-cucumber:before {
	content: "\e6ea";
}

.icon-cup2:before {
	content: "\e6eb";
}

.icon-cup3:before {
	content: "\e6ec";
}

.icon-cup:before {
	content: "\e6ed";
}

.icon-cutter:before {
	content: "\e6ee";
}

.icon-danger:before {
	content: "\e6ef";
}

.icon-database:before {
	content: "\e6f0";
}

.icon-deletebasket:before {
	content: "\e6f1";
}

.icon-deletebrowserwindow:before {
	content: "\e6f2";
}

.icon-deletebutton2:before {
	content: "\e6f3";
}

.icon-deletebutton:before {
	content: "\e6f4";
}

.icon-deletecalendar:before {
	content: "\e6f5";
}

.icon-deletecart2:before {
	content: "\e6f6";
}

.icon-deletecart:before {
	content: "\e6f7";
}

.icon-deletedocument:before {
	content: "\e6f8";
}

.icon-deletefolder:before {
	content: "\e6f9";
}

.icon-deleteshoppingbag:before {
	content: "\e6fa";
}

.icon-deletetag:before {
	content: "\e6fb";
}

.icon-deleteuser:before {
	content: "\e6fc";
}

.icon-dentaltool2:before {
	content: "\e6fd";
}

.icon-dentaltool3:before {
	content: "\e6fe";
}

.icon-dentaltool:before {
	content: "\e6ff";
}

.icon-dentist:before {
	content: "\e700";
}

.icon-desklamp:before {
	content: "\e701";
}

.icon-desk:before {
	content: "\e702";
}

.icon-desktopPC:before {
	content: "\e703";
}

.icon-diamond:before {
	content: "\e704";
}

.icon-diamondscard:before {
	content: "\e705";
}

.icon-diapers:before {
	content: "\e706";
}

.icon-diceI:before {
	content: "\e707";
}

.icon-diceII:before {
	content: "\e708";
}

.icon-diceIII:before {
	content: "\e709";
}

.icon-diceIV:before {
	content: "\e70a";
}

.icon-diceV:before {
	content: "\e70b";
}

.icon-diceVI:before {
	content: "\e70c";
}

.icon-directiondown:before {
	content: "\e70d";
}

.icon-directionleft:before {
	content: "\e70e";
}

.icon-directionright:before {
	content: "\e70f";
}

.icon-directionup:before {
	content: "\e710";
}

.icon-directions:before {
	content: "\e711";
}

.icon-directions2:before {
	content: "\e712";
}

.icon-directorschair:before {
	content: "\e713";
}

.icon-discounts:before {
	content: "\e714";
}

.icon-distance:before {
	content: "\e715";
}

.icon-DNA:before {
	content: "\e716";
}

.icon-document2:before {
	content: "\e717";
}

.icon-document:before {
	content: "\e718";
}

.icon-documents2:before {
	content: "\e719";
}

.icon-documents:before {
	content: "\e71a";
}

.icon-dogfood:before {
	content: "\e71b";
}

.icon-doghead:before {
	content: "\e71c";
}

.icon-dollar:before {
	content: "\e71d";
}

.icon-donut:before {
	content: "\e71e";
}

.icon-downarrowalt:before {
	content: "\e71f";
}

.icon-downarrow:before {
	content: "\e720";
}

.icon-downicon:before {
	content: "\e721";
}

.icon-down:before {
	content: "\e722";
}

.icon-downloaddocument:before {
	content: "\e723";
}

.icon-download:before {
	content: "\e724";
}

.icon-drawers:before {
	content: "\e725";
}

.icon-drawingtools:before {
	content: "\e726";
}

.icon-drillmachine:before {
	content: "\e727";
}

.icon-drink2:before {
	content: "\e728";
}

.icon-drink:before {
	content: "\e729";
}

.icon-drums:before {
	content: "\e72a";
}

.icon-eclipse:before {
	content: "\e72b";
}

.icon-eggplant:before {
	content: "\e72c";
}

.icon-eggsandbacon:before {
	content: "\e72d";
}

.icon-electrictoothbrush:before {
	content: "\e72e";
}

.icon-emptybattery:before {
	content: "\e72f";
}

.icon-engineproblems:before {
	content: "\e730";
}

.icon-engine:before {
	content: "\e731";
}

.icon-enlarge2:before {
	content: "\e732";
}

.icon-enlargediagonal:before {
	content: "\e733";
}

.icon-enlargehorizontal:before {
	content: "\e734";
}

.icon-enlargevertical:before {
	content: "\e735";
}

.icon-enlarge:before {
	content: "\e736";
}

.icon-envelope:before {
	content: "\e737";
}

.icon-equalizer:before {
	content: "\e738";
}

.icon-euro:before {
	content: "\e739";
}

.icon-expand:before {
	content: "\e73a";
}

.icon-exportdocument:before {
	content: "\e73b";
}

.icon-eye:before {
	content: "\e73c";
}

.icon-eyedroptool:before {
	content: "\e73d";
}

.icon-fahrenheit:before {
	content: "\e73e";
}

.icon-faketooth:before {
	content: "\e73f";
}

.icon-fan:before {
	content: "\e740";
}

.icon-favoritefolder:before {
	content: "\e741";
}

.icon-female:before {
	content: "\e742";
}

.icon-fence:before {
	content: "\e743";
}

.icon-files:before {
	content: "\e744";
}

.icon-filler:before {
	content: "\e745";
}

.icon-filmstrip2:before {
	content: "\e746";
}

.icon-filmstrip3:before {
	content: "\e747";
}

.icon-filmstrip:before {
	content: "\e748";
}

.icon-fireplace:before {
	content: "\e749";
}

.icon-fitness:before {
	content: "\e74a";
}

.icon-flag2:before {
	content: "\e74b";
}

.icon-flag:before {
	content: "\e74c";
}

.icon-flashdrive:before {
	content: "\e74d";
}

.icon-flashlight:before {
	content: "\e74e";
}

.icon-flatiron:before {
	content: "\e74f";
}

.icon-flattire:before {
	content: "\e750";
}

.icon-floppy:before {
	content: "\e751";
}

.icon-floss:before {
	content: "\e752";
}

.icon-flower:before {
	content: "\e753";
}

.icon-folderdown:before {
	content: "\e754";
}

.icon-foldersettings:before {
	content: "\e755";
}

.icon-folderup:before {
	content: "\e756";
}

.icon-folder:before {
	content: "\e757";
}

.icon-folders:before {
	content: "\e758";
}

.icon-footballfield:before {
	content: "\e759";
}

.icon-forbidden:before {
	content: "\e75a";
}

.icon-forkanddrink:before {
	content: "\e75b";
}

.icon-forkandknife:before {
	content: "\e75c";
}

.icon-forkandspoon:before {
	content: "\e75d";
}

.icon-forwardicon2:before {
	content: "\e75e";
}

.icon-forwardicon:before {
	content: "\e75f";
}

.icon-forward:before {
	content: "\e760";
}

.icon-fosset2:before {
	content: "\e761";
}

.icon-fosset:before {
	content: "\e762";
}

.icon-frame:before {
	content: "\e763";
}

.icon-fridge:before {
	content: "\e764";
}

.icon-fries:before {
	content: "\e765";
}

.icon-fruitslice:before {
	content: "\e766";
}

.icon-fryingpan:before {
	content: "\e767";
}

.icon-fullbattery2:before {
	content: "\e768";
}

.icon-fullbattery:before {
	content: "\e769";
}

.icon-fullscreen:before {
	content: "\e76a";
}

.icon-garlic:before {
	content: "\e76b";
}

.icon-gascan:before {
	content: "\e76c";
}

.icon-gauge:before {
	content: "\e76d";
}

.icon-gearbox:before {
	content: "\e76e";
}

.icon-gift:before {
	content: "\e76f";
}

.icon-glass2:before {
	content: "\e770";
}

.icon-glass:before {
	content: "\e771";
}

.icon-glasses2:before {
	content: "\e772";
}

.icon-glasses:before {
	content: "\e773";
}

.icon-globe:before {
	content: "\e774";
}

.icon-golf:before {
	content: "\e775";
}

.icon-googleplay:before {
	content: "\e776";
}

.icon-grandopening:before {
	content: "\e777";
}

.icon-grapes:before {
	content: "\e778";
}

.icon-graphictablet:before {
	content: "\e779";
}

.icon-greenhouse:before {
	content: "\e77a";
}

.icon-grid:before {
	content: "\e77b";
}

.icon-guitar2:before {
	content: "\e77c";
}

.icon-guitartuning:before {
	content: "\e77d";
}

.icon-guitar:before {
	content: "\e77e";
}

.icon-hammerandnails:before {
	content: "\e77f";
}

.icon-hammer:before {
	content: "\e780";
}

.icon-handwatch:before {
	content: "\e781";
}

.icon-handbag:before {
	content: "\e782";
}

.icon-hanger:before {
	content: "\e783";
}

.icon-happyface:before {
	content: "\e784";
}

.icon-happymask:before {
	content: "\e785";
}

.icon-hat:before {
	content: "\e786";
}

.icon-headset:before {
	content: "\e787";
}

.icon-heartadd:before {
	content: "\e788";
}

.icon-heartbeat:before {
	content: "\e789";
}

.icon-heartplant:before {
	content: "\e78a";
}

.icon-heartremove:before {
	content: "\e78b";
}

.icon-heart:before {
	content: "\e78c";
}

.icon-heartscard:before {
	content: "\e78d";
}

.icon-hearts:before {
	content: "\e78e";
}

.icon-height:before {
	content: "\e78f";
}

.icon-highheels:before {
	content: "\e790";
}

.icon-highvolume2:before {
	content: "\e791";
}

.icon-highvolume:before {
	content: "\e792";
}

.icon-home2:before {
	content: "\e793";
}

.icon-home3:before {
	content: "\e794";
}

.icon-homestereo:before {
	content: "\e795";
}

.icon-home:before {
	content: "\e796";
}

.icon-hotdog:before {
	content: "\e797";
}

.icon-hotelbell:before {
	content: "\e798";
}

.icon-hourglass2:before {
	content: "\e799";
}

.icon-hourglass:before {
	content: "\e79a";
}

.icon-icecream2:before {
	content: "\e79b";
}

.icon-icecream3:before {
	content: "\e79c";
}

.icon-icecream:before {
	content: "\e79d";
}

.icon-importdocument:before {
	content: "\e79e";
}

.icon-inbox:before {
	content: "\e79f";
}

.icon-infinite:before {
	content: "\e7a0";
}

.icon-ink:before {
	content: "\e7a1";
}

.icon-instantphotocamera:before {
	content: "\e7a2";
}

.icon-jack:before {
	content: "\e7a3";
}

.icon-japaneseyen:before {
	content: "\e7a4";
}

.icon-JOGGING:before {
	content: "\e7a5";
}

.icon-joystick:before {
	content: "\e7a6";
}

.icon-key2:before {
	content: "\e7a7";
}

.icon-key:before {
	content: "\e7a8";
}

.icon-keypad:before {
	content: "\e7a9";
}

.icon-kidbike:before {
	content: "\e7aa";
}

.icon-lamp:before {
	content: "\e7ab";
}

.icon-landmark2:before {
	content: "\e7ac";
}

.icon-landmark3:before {
	content: "\e7ad";
}

.icon-landmark4:before {
	content: "\e7ae";
}

.icon-landmark5:before {
	content: "\e7af";
}

.icon-landmark6:before {
	content: "\e7b0";
}

.icon-landmark7:before {
	content: "\e7b1";
}

.icon-landmark8:before {
	content: "\e7b2";
}

.icon-landmark9:before {
	content: "\e7b3";
}

.icon-landmark10:before {
	content: "\e7b4";
}

.icon-landmark11:before {
	content: "\e7b5";
}

.icon-landmark12:before {
	content: "\e7b6";
}

.icon-landmark13:before {
	content: "\e7b7";
}

.icon-landmark14:before {
	content: "\e7b8";
}

.icon-landmark15:before {
	content: "\e7b9";
}

.icon-landmark16:before {
	content: "\e7ba";
}

.icon-landmark:before {
	content: "\e7bb";
}

.icon-laptop:before {
	content: "\e7bc";
}

.icon-laundry:before {
	content: "\e7bd";
}

.icon-layers:before {
	content: "\e7be";
}

.icon-layout1:before {
	content: "\e7bf";
}

.icon-layout2:before {
	content: "\e7c0";
}

.icon-layout3:before {
	content: "\e7c1";
}

.icon-layout4:before {
	content: "\e7c2";
}

.icon-layout5:before {
	content: "\e7c3";
}

.icon-layout6:before {
	content: "\e7c4";
}

.icon-layout7:before {
	content: "\e7c5";
}

.icon-layout8:before {
	content: "\e7c6";
}

.icon-layout9:before {
	content: "\e7c7";
}

.icon-layout10:before {
	content: "\e7c8";
}

.icon-layout11:before {
	content: "\e7c9";
}

.icon-layout12:before {
	content: "\e7ca";
}

.icon-layout13:before {
	content: "\e7cb";
}

.icon-layout14:before {
	content: "\e7cc";
}

.icon-layout15:before {
	content: "\e7cd";
}

.icon-layout16:before {
	content: "\e7ce";
}

.icon-layout17:before {
	content: "\e7cf";
}

.icon-layout18:before {
	content: "\e7d0";
}

.icon-layout19:before {
	content: "\e7d1";
}

.icon-layout20:before {
	content: "\e7d2";
}

.icon-layout21:before {
	content: "\e7d3";
}

.icon-layout22:before {
	content: "\e7d4";
}

.icon-layout23:before {
	content: "\e7d5";
}

.icon-layout24:before {
	content: "\e7d6";
}

.icon-layout25:before {
	content: "\e7d7";
}

.icon-layout26:before {
	content: "\e7d8";
}

.icon-layout27:before {
	content: "\e7d9";
}

.icon-layout:before {
	content: "\e7da";
}

.icon-leaf2:before {
	content: "\e7db";
}

.icon-leaf3:before {
	content: "\e7dc";
}

.icon-leaf:before {
	content: "\e7dd";
}

.icon-leash2:before {
	content: "\e7de";
}

.icon-leash:before {
	content: "\e7df";
}

.icon-leftarrowalt:before {
	content: "\e7e0";
}

.icon-leftarrow:before {
	content: "\e7e1";
}

.icon-lefticon:before {
	content: "\e7e2";
}

.icon-left:before {
	content: "\e7e3";
}

.icon-lemon:before {
	content: "\e7e4";
}

.icon-lifebuoy:before {
	content: "\e7e5";
}

.icon-lightbulb2:before {
	content: "\e7e6";
}

.icon-lightbulb3:before {
	content: "\e7e7";
}

.icon-lightbulb:before {
	content: "\e7e8";
}

.icon-lightning:before {
	content: "\e7e9";
}

.icon-lights:before {
	content: "\e7ea";
}

.icon-link2:before {
	content: "\e7eb";
}

.icon-link:before {
	content: "\e7ec";
}

.icon-lipstick:before {
	content: "\e7ed";
}

.icon-list:before {
	content: "\e7ee";
}

.icon-loading:before {
	content: "\e7ef";
}

.icon-locationpin:before {
	content: "\e7f0";
}

.icon-location:before {
	content: "\e7f1";
}

.icon-lock2:before {
	content: "\e7f2";
}

.icon-lock3:before {
	content: "\e7f3";
}

.icon-lock4:before {
	content: "\e7f4";
}

.icon-lock:before {
	content: "\e7f5";
}

.icon-logout:before {
	content: "\e7f6";
}

.icon-lollypop:before {
	content: "\e7f7";
}

.icon-lossdiagram:before {
	content: "\e7f8";
}

.icon-loudspeaker:before {
	content: "\e7f9";
}

.icon-loveletter2:before {
	content: "\e7fa";
}

.icon-loveletter:before {
	content: "\e7fb";
}

.icon-lovelock:before {
	content: "\e7fc";
}

.icon-lovemessage2:before {
	content: "\e7fd";
}

.icon-lovemessage:before {
	content: "\e7fe";
}

.icon-lovesettings:before {
	content: "\e7ff";
}

.icon-lowbattery:before {
	content: "\e800";
}

.icon-lowvolume2:before {
	content: "\e801";
}

.icon-lowvolume:before {
	content: "\e802";
}

.icon-lowervolume:before {
	content: "\e803";
}

.icon-lungs:before {
	content: "\e804";
}

.icon-macintosh:before {
	content: "\e805";
}

.icon-magicwand:before {
	content: "\e806";
}

.icon-magnet:before {
	content: "\e807";
}

.icon-mail:before {
	content: "\e808";
}

.icon-male:before {
	content: "\e809";
}

.icon-map:before {
	content: "\e80a";
}

.icon-meal:before {
	content: "\e80b";
}

.icon-meal2:before {
	content: "\e80c";
}

.icon-measures:before {
	content: "\e80d";
}

.icon-measuringcup:before {
	content: "\e80e";
}

.icon-medkit2:before {
	content: "\e80f";
}

.icon-medkit:before {
	content: "\e810";
}

.icon-medal:before {
	content: "\e811";
}

.icon-medicine2:before {
	content: "\e812";
}

.icon-medicine:before {
	content: "\e813";
}

.icon-mediumvolume:before {
	content: "\e814";
}

.icon-megaphone2:before {
	content: "\e815";
}

.icon-megaphone:before {
	content: "\e816";
}

.icon-mellonslice:before {
	content: "\e817";
}

.icon-mellon:before {
	content: "\e818";
}

.icon-menu:before {
	content: "\e819";
}

.icon-message2:before {
	content: "\e81a";
}

.icon-message:before {
	content: "\e81b";
}

.icon-messages2:before {
	content: "\e81c";
}

.icon-messages:before {
	content: "\e81d";
}

.icon-meteor:before {
	content: "\e81e";
}

.icon-microphone2:before {
	content: "\e81f";
}

.icon-microphone:before {
	content: "\e820";
}

.icon-microscope:before {
	content: "\e821";
}

.icon-microwave:before {
	content: "\e822";
}

.icon-milkandcookies:before {
	content: "\e823";
}

.icon-minimize:before {
	content: "\e824";
}

.icon-mistletoe:before {
	content: "\e825";
}

.icon-mobilephone:before {
	content: "\e826";
}

.icon-moneybag:before {
	content: "\e827";
}

.icon-monitor2:before {
	content: "\e828";
}

.icon-monitor:before {
	content: "\e829";
}

.icon-monocle:before {
	content: "\e82a";
}

.icon-monument:before {
	content: "\e82b";
}

.icon-moon:before {
	content: "\e82c";
}

.icon-more2:before {
	content: "\e82d";
}

.icon-more:before {
	content: "\e82e";
}

.icon-mouse2:before {
	content: "\e82f";
}

.icon-mouse3:before {
	content: "\e830";
}

.icon-mouse:before {
	content: "\e831";
}

.icon-mouthwater:before {
	content: "\e832";
}

.icon-movie2:before {
	content: "\e833";
}

.icon-moviecamera:before {
	content: "\e834";
}

.icon-movieicon2:before {
	content: "\e835";
}

.icon-movieicon:before {
	content: "\e836";
}

.icon-movieplay:before {
	content: "\e837";
}

.icon-movietickets:before {
	content: "\e838";
}

.icon-movie:before {
	content: "\e839";
}

.icon-mp3player:before {
	content: "\e83a";
}

.icon-muffin:before {
	content: "\e83b";
}

.icon-musclepills:before {
	content: "\e83c";
}

.icon-muscles:before {
	content: "\e83d";
}

.icon-mushroom:before {
	content: "\e83e";
}

.icon-musicfolder:before {
	content: "\e83f";
}

.icon-musicsymbol2:before {
	content: "\e840";
}

.icon-musicsymbol:before {
	content: "\e841";
}

.icon-musicalnote2:before {
	content: "\e842";
}

.icon-musicalnote3:before {
	content: "\e843";
}

.icon-musicalnote:before {
	content: "\e844";
}

.icon-mustard:before {
	content: "\e845";
}

.icon-mutesound:before {
	content: "\e846";
}

.icon-needlepin:before {
	content: "\e847";
}

.icon-neutralface:before {
	content: "\e848";
}

.icon-newspaper:before {
	content: "\e849";
}

.icon-nitro:before {
	content: "\e84a";
}

.icon-nocalls:before {
	content: "\e84b";
}

.icon-nosmoking:before {
	content: "\e84c";
}

.icon-notebook:before {
	content: "\e84d";
}

.icon-notepadandpencil:before {
	content: "\e84e";
}

.icon-notepad:before {
	content: "\e84f";
}

.icon-notification:before {
	content: "\e850";
}

.icon-notifications:before {
	content: "\e851";
}

.icon-oilcan:before {
	content: "\e852";
}

.icon-olympictorch:before {
	content: "\e853";
}

.icon-onion:before {
	content: "\e854";
}

.icon-opensign:before {
	content: "\e855";
}

.icon-openedlock2:before {
	content: "\e856";
}

.icon-openedlock3:before {
	content: "\e857";
}

.icon-openedlock4:before {
	content: "\e858";
}

.icon-openedlock:before {
	content: "\e859";
}

.icon-openedmail:before {
	content: "\e85a";
}

.icon-orange:before {
	content: "\e85b";
}

.icon-outlet2:before {
	content: "\e85c";
}

.icon-outlet3:before {
	content: "\e85d";
}

.icon-outlet:before {
	content: "\e85e";
}

.icon-paintbrush:before {
	content: "\e85f";
}

.icon-paintbucket:before {
	content: "\e860";
}

.icon-paintroller:before {
	content: "\e861";
}

.icon-paintingbrush:before {
	content: "\e862";
}

.icon-pants:before {
	content: "\e863";
}

.icon-paperplane:before {
	content: "\e864";
}

.icon-parrotcage:before {
	content: "\e865";
}

.icon-pauseicon2:before {
	content: "\e866";
}

.icon-pauseicon:before {
	content: "\e867";
}

.icon-pear:before {
	content: "\e868";
}

.icon-peas:before {
	content: "\e869";
}

.icon-penedit:before {
	content: "\e86a";
}

.icon-pen:before {
	content: "\e86b";
}

.icon-pencil:before {
	content: "\e86c";
}

.icon-pepper2:before {
	content: "\e86d";
}

.icon-pepper:before {
	content: "\e86e";
}

.icon-perfusion:before {
	content: "\e86f";
}

.icon-petcage2:before {
	content: "\e870";
}

.icon-petcage:before {
	content: "\e871";
}

.icon-petfoodbowl:before {
	content: "\e872";
}

.icon-phonebook:before {
	content: "\e873";
}

.icon-photos:before {
	content: "\e874";
}

.icon-picture:before {
	content: "\e875";
}

.icon-piechart:before {
	content: "\e876";
}

.icon-pie:before {
	content: "\e877";
}

.icon-piggybank:before {
	content: "\e878";
}

.icon-pill:before {
	content: "\e879";
}

.icon-pills:before {
	content: "\e87a";
}

.icon-pincers:before {
	content: "\e87b";
}

.icon-pineapple:before {
	content: "\e87c";
}

.icon-pixels2:before {
	content: "\e87d";
}

.icon-pixels:before {
	content: "\e87e";
}

.icon-pizza:before {
	content: "\e87f";
}

.icon-plant2:before {
	content: "\e880";
}

.icon-plant3:before {
	content: "\e881";
}

.icon-plant4:before {
	content: "\e882";
}

.icon-plant5:before {
	content: "\e883";
}

.icon-plant6:before {
	content: "\e884";
}

.icon-plant7:before {
	content: "\e885";
}

.icon-plantlotion:before {
	content: "\e886";
}

.icon-plant:before {
	content: "\e887";
}

.icon-playicon:before {
	content: "\e888";
}

.icon-playlist:before {
	content: "\e889";
}

.icon-playmaker:before {
	content: "\e88a";
}

.icon-pliers:before {
	content: "\e88b";
}

.icon-plug:before {
	content: "\e88c";
}

.icon-plumbing:before {
	content: "\e88d";
}

.icon-pointer:before {
	content: "\e88e";
}

.icon-pointingfinger:before {
	content: "\e88f";
}

.icon-popcorn:before {
	content: "\e890";
}

.icon-pot:before {
	content: "\e891";
}

.icon-power:before {
	content: "\e892";
}

.icon-powerhouse:before {
	content: "\e893";
}

.icon-pricetag:before {
	content: "\e894";
}

.icon-printer:before {
	content: "\e895";
}

.icon-profitdiagram:before {
	content: "\e896";
}

.icon-projector2:before {
	content: "\e897";
}

.icon-projector:before {
	content: "\e898";
}

.icon-pumpkin:before {
	content: "\e899";
}

.icon-pushpin:before {
	content: "\e89a";
}

.icon-puzzle:before {
	content: "\e89b";
}

.icon-raddish:before {
	content: "\e89c";
}

.icon-radio:before {
	content: "\e89d";
}

.icon-raindrop:before {
	content: "\e89e";
}

.icon-rain:before {
	content: "\e89f";
}

.icon-rainyday:before {
	content: "\e8a0";
}

.icon-rainynight:before {
	content: "\e8a1";
}

.icon-rainy:before {
	content: "\e8a2";
}

.icon-raisevolume:before {
	content: "\e8a3";
}

.icon-rattle:before {
	content: "\e8a4";
}

.icon-receipt:before {
	content: "\e8a5";
}

.icon-receivemail:before {
	content: "\e8a6";
}

.icon-receive:before {
	content: "\e8a7";
}

.icon-record2:before {
	content: "\e8a8";
}

.icon-record3:before {
	content: "\e8a9";
}

.icon-recordicon:before {
	content: "\e8aa";
}

.icon-record:before {
	content: "\e8ab";
}

.icon-refresh:before {
	content: "\e8ac";
}

.icon-removebrowserwindow:before {
	content: "\e8ad";
}

.icon-removebutton2:before {
	content: "\e8ae";
}

.icon-removebutton:before {
	content: "\e8af";
}

.icon-removeconnection:before {
	content: "\e8b0";
}

.icon-removedocument:before {
	content: "\e8b1";
}

.icon-removefolder:before {
	content: "\e8b2";
}

.icon-removefrombasket:before {
	content: "\e8b3";
}

.icon-removefromcart2:before {
	content: "\e8b4";
}

.icon-removefromcart:before {
	content: "\e8b5";
}

.icon-removefromshoppingbag:before {
	content: "\e8b6";
}

.icon-removelocation:before {
	content: "\e8b7";
}

.icon-removephoto:before {
	content: "\e8b8";
}

.icon-removetag:before {
	content: "\e8b9";
}

.icon-removeuser:before {
	content: "\e8ba";
}

.icon-repeat:before {
	content: "\e8bb";
}

.icon-replay:before {
	content: "\e8bc";
}

.icon-rewindicon2:before {
	content: "\e8bd";
}

.icon-rewindicon:before {
	content: "\e8be";
}

.icon-ribbon:before {
	content: "\e8bf";
}

.icon-rightarrowalt:before {
	content: "\e8c0";
}

.icon-rightarrow:before {
	content: "\e8c1";
}

.icon-righticon:before {
	content: "\e8c2";
}

.icon-right:before {
	content: "\e8c3";
}

.icon-ring:before {
	content: "\e8c4";
}

.icon-rings:before {
	content: "\e8c5";
}

.icon-rocket:before {
	content: "\e8c6";
}

.icon-romanticlocation:before {
	content: "\e8c7";
}

.icon-romanticmeal:before {
	content: "\e8c8";
}

.icon-rotateclockwise:before {
	content: "\e8c9";
}

.icon-rotatecounterclockwise:before {
	content: "\e8ca";
}

.icon-roulette:before {
	content: "\e8cb";
}

.icon-router:before {
	content: "\e8cc";
}

.icon-rubberduck:before {
	content: "\e8cd";
}

.icon-ruler:before {
	content: "\e8ce";
}

.icon-running:before {
	content: "\e8cf";
}

.icon-sadface:before {
	content: "\e8d0";
}

.icon-sadmask:before {
	content: "\e8d1";
}

.icon-safe:before {
	content: "\e8d2";
}

.icon-salt:before {
	content: "\e8d3";
}

.icon-santabeard:before {
	content: "\e8d4";
}

.icon-saw:before {
	content: "\e8d5";
}

.icon-scale:before {
	content: "\e8d6";
}

.icon-scale2:before {
	content: "\e8d7";
}

.icon-scissors:before {
	content: "\e8d8";
}

.icon-scooter:before {
	content: "\e8d9";
}

.icon-scrambledegg:before {
	content: "\e8da";
}

.icon-screens:before {
	content: "\e8db";
}

.icon-screw:before {
	content: "\e8dc";
}

.icon-screwdriver:before {
	content: "\e8dd";
}

.icon-searchbrowserwindow:before {
	content: "\e8de";
}

.icon-searchfolder:before {
	content: "\e8df";
}

.icon-searchforlove:before {
	content: "\e8e0";
}

.icon-search:before {
	content: "\e8e1";
}

.icon-selection:before {
	content: "\e8e2";
}

.icon-sendmail:before {
	content: "\e8e3";
}

.icon-send:before {
	content: "\e8e4";
}

.icon-server:before {
	content: "\e8e5";
}

.icon-settings:before {
	content: "\e8e6";
}

.icon-shapepuzzle:before {
	content: "\e8e7";
}

.icon-share2:before {
	content: "\e8e8";
}

.icon-sharefolder:before {
	content: "\e8e9";
}

.icon-share:before {
	content: "\e8ea";
}

.icon-shark:before {
	content: "\e8eb";
}

.icon-shawarma:before {
	content: "\e8ec";
}

.icon-sheriffstar:before {
	content: "\e8ed";
}

.icon-shieldcheck:before {
	content: "\e8ee";
}

.icon-shieldcross:before {
	content: "\e8ef";
}

.icon-shield:before {
	content: "\e8f0";
}

.icon-shinytooth:before {
	content: "\e8f1";
}

.icon-shirt:before {
	content: "\e8f2";
}

.icon-shit:before {
	content: "\e8f3";
}

.icon-shoppingbag2:before {
	content: "\e8f4";
}

.icon-shoppingbag3:before {
	content: "\e8f5";
}

.icon-shoppingbag4:before {
	content: "\e8f6";
}

.icon-shoppingbag5:before {
	content: "\e8f7";
}

.icon-shoppingbag6:before {
	content: "\e8f8";
}

.icon-shoppingbagcheck:before {
	content: "\e8f9";
}

.icon-shoppingbag:before {
	content: "\e8fa";
}

.icon-shorts:before {
	content: "\e8fb";
}

.icon-shovel2:before {
	content: "\e8fc";
}

.icon-shovel:before {
	content: "\e8fd";
}

.icon-shower:before {
	content: "\e8fe";
}

.icon-shredder:before {
	content: "\e8ff";
}

.icon-shrimp:before {
	content: "\e900";
}

.icon-shrink2:before {
	content: "\e901";
}

.icon-shrinkdiagonal:before {
	content: "\e902";
}

.icon-shrinkhorizontal:before {
	content: "\e903";
}

.icon-shrinkvertical:before {
	content: "\e904";
}

.icon-shrink:before {
	content: "\e905";
}

.icon-shuffle:before {
	content: "\e906";
}

.icon-signal2:before {
	content: "\e907";
}

.icon-signal3:before {
	content: "\e908";
}

.icon-signal4:before {
	content: "\e909";
}

.icon-signal5:before {
	content: "\e90a";
}

.icon-signal6:before {
	content: "\e90b";
}

.icon-signal:before {
	content: "\e90c";
}

.icon-simcard2:before {
	content: "\e90d";
}

.icon-simcard:before {
	content: "\e90e";
}

.icon-skewers:before {
	content: "\e90f";
}

.icon-skull:before {
	content: "\e910";
}

.icon-sleigh:before {
	content: "\e911";
}

.icon-slicedapple:before {
	content: "\e912";
}

.icon-slider:before {
	content: "\e913";
}

.icon-smoking:before {
	content: "\e914";
}

.icon-snowflake:before {
	content: "\e915";
}

.icon-snow:before {
	content: "\e916";
}

.icon-snowingglobe:before {
	content: "\e917";
}

.icon-snowman:before {
	content: "\e918";
}

.icon-soap:before {
	content: "\e919";
}

.icon-soulmates2:before {
	content: "\e91a";
}

.icon-soulmates3:before {
	content: "\e91b";
}

.icon-soulmates:before {
	content: "\e91c";
}

.icon-sound:before {
	content: "\e91d";
}

.icon-spadescard:before {
	content: "\e91e";
}

.icon-speaker:before {
	content: "\e91f";
}

.icon-sponge:before {
	content: "\e920";
}

.icon-square:before {
	content: "\e921";
}

.icon-stage2:before {
	content: "\e922";
}

.icon-stage:before {
	content: "\e923";
}

.icon-stairsdown:before {
	content: "\e924";
}

.icon-stairsup:before {
	content: "\e925";
}

.icon-stamp:before {
	content: "\e926";
}

.icon-star:before {
	content: "\e927";
}

.icon-statistics2:before {
	content: "\e928";
}

.icon-statistics:before {
	content: "\e929";
}

.icon-steakandfork:before {
	content: "\e92a";
}

.icon-steak:before {
	content: "\e92b";
}

.icon-steeringwheel:before {
	content: "\e92c";
}

.icon-stetoscope:before {
	content: "\e92d";
}

.icon-stocking:before {
	content: "\e92e";
}

.icon-stopicon:before {
	content: "\e92f";
}

.icon-stopwatch:before {
	content: "\e930";
}

.icon-storm2:before {
	content: "\e931";
}

.icon-storm:before {
	content: "\e932";
}

.icon-strawberry:before {
	content: "\e933";
}

.icon-stretching:before {
	content: "\e934";
}

.icon-sun:before {
	content: "\e935";
}

.icon-sunrise2:before {
	content: "\e936";
}

.icon-sunrise:before {
	content: "\e937";
}

.icon-sunset2:before {
	content: "\e938";
}

.icon-sunset:before {
	content: "\e939";
}

.icon-sushi:before {
	content: "\e93a";
}

.icon-swimmingpool:before {
	content: "\e93b";
}

.icon-swimming:before {
	content: "\e93c";
}

.icon-swipeleft:before {
	content: "\e93d";
}

.icon-swiperight:before {
	content: "\e93e";
}

.icon-swipe:before {
	content: "\e93f";
}

.icon-switches:before {
	content: "\e940";
}

.icon-sword:before {
	content: "\e941";
}

.icon-t-shirt:before {
	content: "\e942";
}

.icon-tablet:before {
	content: "\e943";
}

.icon-taco:before {
	content: "\e944";
}

.icon-tag:before {
	content: "\e945";
}

.icon-target2:before {
	content: "\e946";
}

.icon-target:before {
	content: "\e947";
}

.icon-task2:before {
	content: "\e948";
}

.icon-task:before {
	content: "\e949";
}

.icon-teapot:before {
	content: "\e94a";
}

.icon-teddy:before {
	content: "\e94b";
}

.icon-tennisball:before {
	content: "\e94c";
}

.icon-tennis:before {
	content: "\e94d";
}

.icon-tent:before {
	content: "\e94e";
}

.icon-thermometer:before {
	content: "\e94f";
}

.icon-thumbsdown:before {
	content: "\e950";
}

.icon-thumbsup:before {
	content: "\e951";
}

.icon-tictactoe:before {
	content: "\e952";
}

.icon-tie:before {
	content: "\e953";
}

.icon-timer:before {
	content: "\e954";
}

.icon-toast:before {
	content: "\e955";
}

.icon-toaster:before {
	content: "\e956";
}

.icon-toiletpaper:before {
	content: "\e957";
}

.icon-toilet:before {
	content: "\e958";
}

.icon-tomatoe:before {
	content: "\e959";
}

.icon-toothbrush:before {
	content: "\e95a";
}

.icon-toothpaste:before {
	content: "\e95b";
}

.icon-tooth:before {
	content: "\e95c";
}

.icon-tophat:before {
	content: "\e95d";
}

.icon-topleftarrowalt:before {
	content: "\e95e";
}

.icon-topleftarrow:before {
	content: "\e95f";
}

.icon-topleft:before {
	content: "\e960";
}

.icon-toprightarrowalt:before {
	content: "\e961";
}

.icon-toprightarrow:before {
	content: "\e962";
}

.icon-topright:before {
	content: "\e963";
}

.icon-touchscreen:before {
	content: "\e964";
}

.icon-towels:before {
	content: "\e965";
}

.icon-tower:before {
	content: "\e966";
}

.icon-toyblocks:before {
	content: "\e967";
}

.icon-trafficlight:before {
	content: "\e968";
}

.icon-traficcone:before {
	content: "\e969";
}

.icon-trampoline:before {
	content: "\e96a";
}

.icon-transport:before {
	content: "\e96b";
}

.icon-trash2:before {
	content: "\e96c";
}

.icon-trash3:before {
	content: "\e96d";
}

.icon-trash4:before {
	content: "\e96e";
}

.icon-trash5:before {
	content: "\e96f";
}

.icon-trash6:before {
	content: "\e970";
}

.icon-trashcan:before {
	content: "\e971";
}

.icon-trash:before {
	content: "\e972";
}

.icon-trombone:before {
	content: "\e973";
}

.icon-trophy2:before {
	content: "\e974";
}

.icon-trophy3:before {
	content: "\e975";
}

.icon-trophy:before {
	content: "\e976";
}

.icon-truck:before {
	content: "\e977";
}

.icon-trumpet:before {
	content: "\e978";
}

.icon-tube2:before {
	content: "\e979";
}

.icon-tube:before {
	content: "\e97a";
}

.icon-tuningfork:before {
	content: "\e97b";
}

.icon-tuning:before {
	content: "\e97c";
}

.icon-turbo:before {
	content: "\e97d";
}

.icon-turnleft2:before {
	content: "\e97e";
}

.icon-turnleft:before {
	content: "\e97f";
}

.icon-turnright2:before {
	content: "\e980";
}

.icon-turnright:before {
	content: "\e981";
}

.icon-turntable:before {
	content: "\e982";
}

.icon-tv:before {
	content: "\e983";
}

.icon-twister2:before {
	content: "\e984";
}

.icon-twister:before {
	content: "\e985";
}

.icon-umbrella:before {
	content: "\e986";
}

.icon-undershirt:before {
	content: "\e987";
}

.icon-uparrowalt:before {
	content: "\e988";
}

.icon-uparrow:before {
	content: "\e989";
}

.icon-upicon:before {
	content: "\e98a";
}

.icon-up:before {
	content: "\e98b";
}

.icon-uploaddocument:before {
	content: "\e98c";
}

.icon-upload:before {
	content: "\e98d";
}

.icon-user:before {
	content: "\e98e";
}

.icon-vaccine:before {
	content: "\e98f";
}

.icon-vacumcleaner:before {
	content: "\e990";
}

.icon-valentinecalendar:before {
	content: "\e991";
}

.icon-vase:before {
	content: "\e992";
}

.icon-vehicle1:before {
	content: "\e993";
}

.icon-vehicle2:before {
	content: "\e994";
}

.icon-vehicle3:before {
	content: "\e995";
}

.icon-vehicle4:before {
	content: "\e996";
}

.icon-vehicle5:before {
	content: "\e997";
}

.icon-vehicle6:before {
	content: "\e998";
}

.icon-vehicle7:before {
	content: "\e999";
}

.icon-vehicle8:before {
	content: "\e99a";
}

.icon-vehicle9:before {
	content: "\e99b";
}

.icon-vehicle10:before {
	content: "\e99c";
}

.icon-vehicle11:before {
	content: "\e99d";
}

.icon-vehicle12:before {
	content: "\e99e";
}

.icon-vehicle13:before {
	content: "\e99f";
}

.icon-vehicle14:before {
	content: "\e9a0";
}

.icon-vehicle15:before {
	content: "\e9a1";
}

.icon-vehicle16:before {
	content: "\e9a2";
}

.icon-vehicle17:before {
	content: "\e9a3";
}

.icon-vehicle18:before {
	content: "\e9a4";
}

.icon-vehicle19:before {
	content: "\e9a5";
}

.icon-vehicle20:before {
	content: "\e9a6";
}

.icon-vehicle21:before {
	content: "\e9a7";
}

.icon-vehicle22:before {
	content: "\e9a8";
}

.icon-vehicle23:before {
	content: "\e9a9";
}

.icon-vehicle24:before {
	content: "\e9aa";
}

.icon-vehicle25:before {
	content: "\e9ab";
}

.icon-vehicle26:before {
	content: "\e9ac";
}

.icon-vehicle27:before {
	content: "\e9ad";
}

.icon-vehicle28:before {
	content: "\e9ae";
}

.icon-vehicle29:before {
	content: "\e9af";
}

.icon-vehicle30:before {
	content: "\e9b0";
}

.icon-vehicle31:before {
	content: "\e9b1";
}

.icon-vehicle32:before {
	content: "\e9b2";
}

.icon-vehicle33:before {
	content: "\e9b3";
}

.icon-vehicle34:before {
	content: "\e9b4";
}

.icon-vehicle35:before {
	content: "\e9b5";
}

.icon-vehicle36:before {
	content: "\e9b6";
}

.icon-vehicle37:before {
	content: "\e9b7";
}

.icon-vehicle38:before {
	content: "\e9b8";
}

.icon-vehicle39:before {
	content: "\e9b9";
}

.icon-vehicle40:before {
	content: "\e9ba";
}

.icon-vehicle41:before {
	content: "\e9bb";
}

.icon-vehicle42:before {
	content: "\e9bc";
}

.icon-vehicle43:before {
	content: "\e9bd";
}

.icon-vehicle44:before {
	content: "\e9be";
}

.icon-vehicle45:before {
	content: "\e9bf";
}

.icon-vehicle46:before {
	content: "\e9c0";
}

.icon-vehicle47:before {
	content: "\e9c1";
}

.icon-vehicle48:before {
	content: "\e9c2";
}

.icon-vehicle49:before {
	content: "\e9c3";
}

.icon-vehicle50:before {
	content: "\e9c4";
}

.icon-vehicle51:before {
	content: "\e9c5";
}

.icon-vehicle52:before {
	content: "\e9c6";
}

.icon-vehicle53:before {
	content: "\e9c7";
}

.icon-vehicle54:before {
	content: "\e9c8";
}

.icon-vehicle55:before {
	content: "\e9c9";
}

.icon-vehicle56:before {
	content: "\e9ca";
}

.icon-vehicle57:before {
	content: "\e9cb";
}

.icon-vehicle58:before {
	content: "\e9cc";
}

.icon-vehicle59:before {
	content: "\e9cd";
}

.icon-vehicle60:before {
	content: "\e9ce";
}

.icon-vehicle61:before {
	content: "\e9cf";
}

.icon-vehicle62:before {
	content: "\e9d0";
}

.icon-vehicle63:before {
	content: "\e9d1";
}

.icon-vehicle64:before {
	content: "\e9d2";
}

.icon-vehicle65:before {
	content: "\e9d3";
}

.icon-vehicle66:before {
	content: "\e9d4";
}

.icon-vehicle67:before {
	content: "\e9d5";
}

.icon-vibratingphone:before {
	content: "\e9d6";
}

.icon-videocamera:before {
	content: "\e9d7";
}

.icon-vise:before {
	content: "\e9d8";
}

.icon-voicemail:before {
	content: "\e9d9";
}

.icon-wall:before {
	content: "\e9da";
}

.icon-wallet:before {
	content: "\e9db";
}

.icon-wardrobe:before {
	content: "\e9dc";
}

.icon-washingdishes:before {
	content: "\e9dd";
}

.icon-washingmachine:before {
	content: "\e9de";
}

.icon-waterbottle:before {
	content: "\e9df";
}

.icon-webcam:before {
	content: "\e9e0";
}

.icon-weddingcake:before {
	content: "\e9e1";
}

.icon-weddingring:before {
	content: "\e9e2";
}

.icon-weightlifting2:before {
	content: "\e9e3";
}

.icon-weightlifting:before {
	content: "\e9e4";
}

.icon-weightloss:before {
	content: "\e9e5";
}

.icon-weight:before {
	content: "\e9e6";
}

.icon-weights2:before {
	content: "\e9e7";
}

.icon-weights:before {
	content: "\e9e8";
}

.icon-wheelbarrow:before {
	content: "\e9e9";
}

.icon-whistle:before {
	content: "\e9ea";
}

.icon-wifilow:before {
	content: "\e9eb";
}

.icon-wifimedium:before {
	content: "\e9ec";
}

.icon-wifi:before {
	content: "\e9ed";
}

.icon-wind2:before {
	content: "\e9ee";
}

.icon-wind3:before {
	content: "\e9ef";
}

.icon-wind:before {
	content: "\e9f0";
}

.icon-windows:before {
	content: "\e9f1";
}

.icon-winterhat:before {
	content: "\e9f2";
}

.icon-wirelessmouse:before {
	content: "\e9f3";
}

.icon-wrench2:before {
	content: "\e9f4";
}

.icon-wrench:before {
	content: "\e9f5";
}

.icon-x:before {
	content: "\e9f6";
}

.icon-xbox:before {
	content: "\e9f7";
}

.icon-yingyang:before {
	content: "\e9f8";
}

.icon-youtube:before {
	content: "\e9f9";
}

.icon-zoomin:before {
	content: "\e9fa";
}

.icon-zoomout:before {
	content: "\e9fb";
}

/* tticons2 reference start */
.icon-rupee:before {
  content: "a";
}
.icon-dollar:before {
  content: "b";
}
.icon-euro:before {
  content: "c";
}
.icon-pound:before {
  content: "d";
}
.icon-yen:before {
  content: "e";
}
.icon-facebook:before {
  content: "f";
}
.icon-twitter:before {
  content: "g";
}
.icon-google-plus:before {
  content: "h";
}
.icon-picture-streamline:before {
  content: "i";
}
.icon-speech-streamline-talk-user:before {
  content: "j";
}
.icon-man-people-streamline-user:before {
  content: "k";
}
.icon-painting-pallet-streamline:before {
  content: "l";
}
.icon-pen-streamline-3:before {
  content: "m";
}
.icon-pen-streamline:before {
  content: "n";
}
.icon-ink-pen-streamline:before {
  content: "o";
}
.icon-home-house-streamline:before {
  content: "p";
}
.icon-share-outline:before {
  content: "q";
}
.icon-tumblr:before {
  content: "r";
}
.icon-map-pin-streamline:before {
  content: "s";
}
.icon-settings-streamline-1:before {
  content: "t";
}
.icon-settings-streamline-2:before {
  content: "u";
}
.icon-files:before {
  content: "v";
}
.icon-file-settings:before {
  content: "w";
}
.icon-file-add:before {
  content: "x";
}
.icon-file:before {
  content: "y";
}
.icon-archive:before {
  content: "z";
}
.icon-align-right:before {
  content: "A";
}
.icon-align-left:before {
  content: "B";
}
.icon-align-justify:before {
  content: "C";
}
.icon-align-center:before {
  content: "D";
}
.icon-calendar:before {
  content: "E";
}
.icon-delete-garbage-streamline:before {
  content: "F";
}
.icon-pencil:before {
  content: "G";
}
.icon-picture:before {
  content: "H";
}
.icon-picture-streamline-1:before {
  content: "I";
}
.icon-photo-pictures-streamline:before {
  content: "J";
}
.icon-frame-picture-streamline:before {
  content: "K";
}
.icon-camera-photo-streamline:before {
  content: "L";
}
.icon-email-mail-streamline:before {
  content: "M";
}
.icon-award-stroke:before {
  content: "N";
}
.icon-caret-up-two:before {
  content: "O";
}
.icon-list-thumbnails:before {
  content: "P";
}
.icon-list:before {
  content: "Q";
}