@import "variables";
* {
	box-shadow: none;
}
html {
	overflow-x: hidden;
}
html,body {
	min-height: 100vh;
	padding-bottom: 0;
}
body {
	//background: url(/assets/images/body_bg.png) #E5E5E5 fixed;
	//background-image: url(/assets/images/gallery/9.jpg);
	//background: #DDD;
	//background: #efefef;
	background: -moz-linear-gradient(left,#ECEDEF,#F4F4F4);
	background: -webkit-linear-gradient(left,#ECEDEF 0,#F4F4F4 100%);
	background: -o-linear-gradient(left,#ECEDEF,#F4F4F4);
	background: -ms-linear-gradient(left,#ECEDEF,#F4F4F4);
	background: linear-gradient(left,#ECEDEF,#F4F4F4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECEDEF', endColorstr='#F4F4F4', GradientType=0);
	background: #EAEFF4;
	background: #f1f1f1;
	//background: url(/assets/images/gallery/bg1.jpg) fixed;
	//background-size: cover;
	margin: 0;
	padding: 50px 0 0;
	min-width: 970px;
	&.has-subnav{
		padding-top: 100px;
	}
	&:after {
		background: black;
		opacity: .6;
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: none;
	}
	a[title="SumoMe"] {
		opacity: 0;
		right: -80px;
	}
}
.text-normal {
	font-weight: normal;
}
.non-logged-link {
	cursor: pointer;
}
.capitalize {
	text-transform: uppercase;
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.blurbg {
	background-image:url(http://res.cloudinary.com/triptroop/image/upload/c_scale,w_1200/v1426832290/hero/themes1.jpg);
	background-size:cover;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-position:center top;
	-webkit-filter: blur(4px);
	-mox-filter: blur(4px);
	-o-filter: blur(4px);
	filter: blur(4px);
}
a {
	cursor: pointer;
	color: $brand-blue;
}
button {
	&:focus {
		outline: none;
	}
}
.is-scroll-to-content {
	cursor: pointer;
	color: $white;
	bottom: 12px;
	left: calc(50% - 15px);
	z-index: 1;
	font-size: 30px;
	opacity: .7;
	z-index: 1;
	//-webkit-animation-name: floating;
	//animation-name: floating;
	//-webkit-animation-duration: 2s;
	//animation-duration: 2s;        
	//-webkit-animation-iteration-count: infinite;
	//-moz-animation-iteration-count: infinite;
	//-webkit-animation-timing-function: ease-in-out;
	//-moz-animation-timing-function: ease-in-out;
}
.author-info {
	bottom: 30px;
	color: $white;
	font-size: 14px;
	left: 30px;
	opacity: 1;
	text-transform: uppercase;
	z-index: 1;
	img {
		margin-right: 10px;
	}
	a {
		color: $white;
		padding-bottom: 3px;
	}
}
.page-wrapper {
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.53, 0.88);
	-moz-transition-timing-function: cubic-bezier(0.67, 0.01, 0.53, 0.88);
	transition-timing-function: cubic-bezier(0.67, 0.01, 0.53, 0.88);
	min-height: calc(100vh - 258px);
	&.pushed {
		-webkit-transform: translate3d(300px, 0, 0);
		-moz-transform: translate3d(300px, 0, 0);
		-ms-transform: translate3d(300px, 0, 0);
		-o-transform: translate3d(300px, 0, 0);
		transform: translate3d(300px, 0, 0);
	} 
}
.fa.fa-circle {
	margin: 0 10px;
	font-size: 4px;
	vertical-align: middle;
}
.alert {
	border-radius: 0;
	border: 0;
	top: 0;
	left: 30px;
	position: relative;
	width: calc(100% - 60px);
	z-index: 1;
}
.form-control {
	background-color: rgba(76, 102, 164, 0.04);
	border: 1px solid rgba(76, 102, 164, 0.1);
	font-weight: 400;
	box-shadow: none;
	&:focus {
		border-color: rgba(34,36,38,0.35);
		background: #fff;
		color: rgba(0,0,0,.8);
		box-shadow: none;
	}
}
a {
	color: $brand-blue;
	&:hover {
		color: darken($brand-blue, 5%);
		text-decoration: none;
	}
	&:focus,
	.btn:focus {
		outline: none;
		text-decoration: none;
	}
	&.btn-follow {
		background: #48DCD7;
		border-radius: 50px;
		color: $white;
		font-size: 13px;
		padding-left: 20px;
		padding-right: 20px;
		i {
			font-size: 18px;
			margin-right: 5px;
		}
		&:hover,
		&:focus {
			background: darken(#48DCD7, 10%);
			color: $white;
		}
	}
}
.btn {
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 2px;
	padding: 8px 20px;
	letter-spacing: 0;
	&.btn-primary {
		color: $white;
		background: $brand-blue;
		border-color: darken($brand-blue, 5%);
		font-weight: 400;
		&:hover {
			background: darken($brand-blue, 5%);
			color: $white;
		}
		&:active {
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.17) inset;
		}
	}
	&.btn-success {
		background: $success;
		&:hover {
			background: darken($success, 10%);
		}
	}
	&.btn-default {
		background: #F5F6F7;
		color: $dark-text;
	}
	&.btn-danger {
		background: #FF3C3C;
	}
	&.btn-google-plus {
		background: $google-plus;
		color: $white;
	}
	&.btn-facebook {
		background: $facebook;
		color: $white;
	}
	&.btn-twitter {
		background: $twitter;
		color: $white;
	}
	i {
		font-size: 18px;
		vertical-align: middle;
		margin-right: 10px;
	}
	&:focus {
		outline: none;
	}
}
.goto-top {
	bottom: 30px;
	color: $primary-blue;	
	font-size: 20px;
	position: fixed;
	right: 30px;
	z-index: 1;
}
.contenteditable {
	&[contenteditable]:focus {
		outline: 0px solid transparent; 
	}
}


.loader-box{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width:200px;
	height:200px;
	margin:auto;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#ffffff;
	margin-top:100px;
	text-align:center;
}

.lable{
	padding-top:20px;
	font-size:20px;
}

.loader{
	width:90px;
	height:90px;
	background-color:#FFFFFF;
	overflow:hidden;
	display:block;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	border:3px solid #5dba9d;
	position:relative;
	margin:15px auto;
	z-index:1;
}

.element-animation{
	animation:animationFrames linear 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards; /*when the spec is finished*/
	-webkit-animation: animationFrames linear 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	-moz-animation: animationFrames linear 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation: animationFrames linear 3s;
	-o-animation-iteration-count: infinite;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation: animationFrames linear 3s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
}

.road{
	width:100%;
	height:3px;
	background-color:#5dba9d;
	position:absolute;
	bottom:5px;
	z-index:1;
}

@keyframes animationFrames{
	0% {
		transform: translate(-1160px,15px)  ;
	}
	100% {
		transform: translate(0px,15px)  ;
	}
}

@-moz-keyframes animationFrames{
	0% {
		transform: translate(-1160px,15px)  ;
	}
	100% {
		transform: translate(0px,15px)  ;
	}
}

@-webkit-keyframes animationFrames {
	0% {
		transform: translate(-1160px,15px)  ;
	}
	100% {
		transform: translate(0px,15px)  ;
	}
}

@-o-keyframes animationFrames {
	0% {
		transform: translate(-1160px,15px)  ;
	}
	100% {
		transform: translate(-0px,15px)  ;
	}
}
@-ms-keyframes animationFrames {
	0% {
		transform: translate(-1160px,15px)  ;
	}
	100% {
		transform: translate(0px,15px)  ;
	}
}
/* getting started ::css */
.introjs-helperNumberLayer {
	height:28px;
	width:28px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin:0px auto;
}
.carousel-caption {
	background:rgba(0,0,0,.35);
}
.top-spacing-20 {
	padding-top:20px;
}
.next-step-link {
	&:hover {
		@extend .animate-all;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
	}
	&:active {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14) inset;
	}
}
.steps-count {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 36px;
	margin-right: 15px;
}
.step-content {
	padding-top:20px;
}
/* getting started ::css */
#circle-animation {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.tt-content {
	padding: 20px 0;
}
.compose {
	height: 56px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
	a {
		background: #00aeef;
		width: 56px;
		font-size: 22px;
		color: $white;
		text-align: center;
		padding: 18px 0;
		display: block;
		box-shadow: 0 6px 13px rgba(0, 0, 0, 0.12);
		z-index: 999;
		-webkit-transition: background-color 400ms cubic-bezier(.175,.885,.32,1.275),-webkit-transform 200ms ease-in-out;
		transition: background-color 400ms cubic-bezier(.175,.885,.32,1.275),transform 200ms ease-in-out;
		&:hover {
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
			color: $white;
			background: #24c4ff;
		}
		i {
			display: block;
		}
	}
	.tooltip {
		padding: 0 5px;
		right: 66px;
		z-index: 9999;
		opacity: 1;
		top: 14px;
		.tooltip-arrow {
			border-left-color: #F6F6F6;
		}
		.tooltip-inner {
			background: linear-gradient(#FFFFFF,#F0F0F0);
			color: #293f54;
			padding: 8px 18px;
			text-transform: uppercase;
			letter-spacing: .1rem;
			white-space: nowrap;
		}
	}
}
.ver-icon {
	margin-left: 5px;
	font-size: 14px;
	color: $white;
}
/*Infinite scroll*/
.ias-trigger-next,
.ias-noneleft {
	text-align: center;
	display: block;
	margin: 25px auto;
	width: 300px;
	padding: 12px;
	background: $white;
	color: #2A94D6;
	text-transform: uppercase;
	letter-spacing: .1rem;
	border-radius: 80px;
	font-size: 12px;
	font-weight: 600;
	a {
		color: #2A94D6;
	}
}
.ias-spinner {
	clear: left;
	height: 67px;
}
.steps-wrapper .carousel-indicators li {
	border:1px solid $white;
	&.active {
		background-color: $white;
	}
}
.footer {
	background: $white;
	border: none;
	box-shadow: 0 -1px 0px rgba(0,0,0,.05);
	padding: 50px 0;
	ul {
		font-size: 11px;
		margin: 10px 0;
		text-transform: uppercase;
		li {
			display: inline-block;
			padding-right: 25px;
			padding-left: 25px;
			letter-spacing: 3px;
			a {
				color: #9199a6;
				&:hover {
					opacity: 1;
				}
			}
		}
		&.list-social {
			li {
				padding: 10px 5px;
				a {
					color: $white;
					display: inline-block;
					height: 40px;
					line-height: 45px;
					width: 40px;
					background-color: #666;
					text-shadow: none;
					i {
						width: 16px;
						font-size: 16px;
					}
					&:hover {
						background: rgba(0, 0, 0, 0.5);
					}
					&.fb {
						background: $facebook;
					}
					&.tw {
						background: $twitter;
					}
					&.mail {
						background: $gray;
					}
				}
			}
		}
	}
}

.tt-loader {
	display: none;
	height: 80px;
	width: 80px;
	position: fixed;
	z-index: 9999;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
}
@-webkit-keyframes fadeit{
	0%{ opacity:1; }
	100%{ opacity:0;}
}
@keyframes fadeit{
	0%{ opacity:1; }
	100%{ opacity:0;}
}
#likersModal {
	.modal-dialog {
		width: 750px;
		.modal-content {
			border: none;
		}
		.modal-header {
			background: #2B333D;
			.modal-title {
				font-weight: bold;
				font-size: 20px;
				color: $white;
				text-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
				text-transform: uppercase;
			}
		}
		.modal-body {
			background: #f1f4f8;
			padding: 0;
			height: auto;
			.row {
				border: 8px solid #f1f4f8;
				.col-md-4 {
					border: 8px solid #f1f4f8;
					padding: 0;
					a {
						padding: 0 12px 0 0;
						background-color: $white;
						color: #000;
						font-weight: 600;
						font-size: 13px;
						text-transform: uppercase;
						min-height: 60px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						img {
							margin-right: 8px;
						}
						&:hover {
							border-color: #2A94D6;
							box-shadow: 0 0 0 1px #2A94D6 inset;
						}
					}
				}
				h2 {
					font-size: 70px;
					font-weight: bold;
					background-color: #FFF;
					color: $dark-text;
					height: 225px;
					width: 225px;
					padding: 25px;
					vertical-align: middle;
					line-height: 112px;
					box-shadow: 0 0 3px rgba(0,0,0,0.2);
					margin: 50px 0;
					border-radius: 50%;
					text-shadow: 1px solid rgba(0, 0, 0, 0.1);
					small {
						color: $dark-text;
						font-size: 40%;
					}
				}
			}
		}
	}
}
.categories {
	margin: 0 0 40px -10px;
	li {
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 0 -5px;
		min-height: 130px;
		text-align: center;
		width: 20%;
		word-wrap: break-word;
		display: inline-block;
		vertical-align: top;
		input[type=checkbox].css-checkbox {
			position: absolute; 
			overflow: hidden; 
			clip: rect(0 0 0 0); 
			height:1px; 
			width:1px; 
			margin:-1px; 
			padding:0;
			border:0;
		}
		input[type=checkbox].css-checkbox + label.css-label .icon-checked {
			display: none;
		}
		input[type=checkbox].css-checkbox:checked + label.css-label .icon-checked{
			display: block;
			color: #000;
			position: absolute;
			bottom: 3px;
			right: 3px;
			font-size: 18px;
			width: 18px;
		}
		label {
			cursor: pointer;
			font-weight:  normal;

			span {
				background: #0F496C;
				cursor: pointer;
				display: block;
				height: 64px;
				margin: 0 auto 8px;
				padding: 14px 0;
				text-decoration: none;
				width: 64px;
				position: relative;
				text-align: center;
				&.a {
					background:#B38F6B;
				}
				&.b {
					background:#B36BA4;
				}   
				&.c {
					background:#99B36B;
				}          
				&.d {
					background:#6B8DB3;
				}  
				&.e {
					background:#B36B86;
				}
				&.f {
					background:#6BB0B3;
				}   
				&.g {
					background:#B36B6B;
				}                      
				&.h {
					background:#7AB36B;
				}  
				&.i {
					background:#6B6CB3;
				}  
				&.j {
					background:#AC6BB3;
				}                     
				&.k {
					background:#B3AA6B;
				}
				&.l {
					background:#FA627E;
				}
				&.m {
					background:#3DBFCA;
				}                     
				&.n {
					background:#FF69B4;
				}  
				&.o {
					background:#25D398;
				}  
				&.p {
					background:#624F7E;
				}               
				&.q {
					background:#898484;
				}               
				&.r {
					background:#81CA5D;
				}                                                                                                                           
				&.s {
					background:#2AA9A0;
				}  
				&.t {
					background:#9E9825;
				}              
				&.u {
					background:#25709E;
				}                                                                                                                             
				&.v {
					background:#457E1D;
				}  
				&.w {
					background:#D851B3;
				}          
				&.x {
					background:#E47F86;
				}          
				&.y {
					background:#CD9853;
				}  
				&.z {
					background: #7FE4DD;
				}
				> i {
					color: $white;
					display: block;
					font-size: 32px;
					position: static;
					width: 30px;
					margin: 0 auto;
				}
				.dot {
					background: #48DCD7;
					border-radius: 50%;
					height: 16px;
					line-height: 1;
					position: absolute;
					right: 0;
					top: 0;
					width: 16px;
					i {
						color: #FFF;
						font-size: 10px;
						position: relative;
						top: -2px;
					}
				}
				&:hover {
					&:after {
						background: rgba(255, 255, 255, 0.23);
						position: absolute;
						width: 100%;
						height: 100%;
						content: "";
						left: 0;
						top: 0;
						border-radius: 50%;
						box-shadow: 0 0 8px rgba(0, 0, 0, 0.18) inset;
					}
				}
			}
		}
	}
}
.pager {
	width: 100%;
	float: left;
	margin: 20px 0 !important;
}
.pager li:first-child > a, 
.pager li:first-child >span {
	border-radius: 25px 0 0 25px;
}
.pager li:last-child > a, 
.pager li:last-child >span {
	border-radius: 0 25px 25px 0;
}
.pager .disabled>a, 
.pager .disabled>a:focus, 
.pager .disabled>a:hover, 
.pager .disabled>span {
	color: transparentize($white, .5);
}
.pager li>a, 
.pager li>span {
	background: #2D3340 !important;
	border: none;
	border-radius: 0;
	width: 120px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0;
	line-height: 40px;
	&:hover {
		background: darken(#2D3340, 10%) !important;
		color: $white;
	}
	&:active {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.17) inset;
	}
}
.pager li>a {
	color: $white !important; 
}
/*
.animat-hoverwrap, 
.items_wayscroll{ visibility:hidden;}
*/
.animated{ visibility:visible;}
.tt-toast {
	position: fixed;
	z-index: 11;
	background-color: $pink;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	color: $white;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.2);
	letter-spacing: .05em;
	font-size: 12px;
	top: 70px;
	left: calc(50% - 150px);
	font-weight: 500;
	width: 300px;
	.close {
		opacity: 1;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		position: absolute;
		color: transparentize($text, .7);
		text-shadow: none;
		font-size: 18px;
		line-height: 9px;
		font-weight: bold;
		padding: 0;
		border: none;
		top: 5px;
		right: 5px;
	}
}
.fa-ul {
	li {
		margin-bottom: 15px;
	}
}
/* Not Available */
.not-available {
	background: #FFF;
	color: #111;
	border-radius: 2px;
	margin: 0 auto;
	padding: 25px;
	text-align: center;
	h2 { 
		font-size: 40px !important;
		margin: 0 0 30px !important;
		line-height: 1;
		font-weight: 100 !important;
	}
	h3 { 
		margin: 0 0 20px;
	}
}