@import "variables";
html,body {
	padding-bottom: 0;
}
body {
	background: $body-bg;
	padding-top: 74px;
}
a {
	color: $dark-text;
	&:hover {
		color: $dark-text;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
.btn {
	text-transform: uppercase;
}
.cover {
	background: #1c2023 !important;
	background-size: cover;
	background-position: center top;
	height: 550px !important;
	&:after {
		display: none;
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		background: $dark-text;
		opacity: 0.25;
	}
}
.goto-top {
	bottom: 30px;
	color: $primary-blue;	
	font-size: 20px;
	position: fixed;
	right: 30px;
	z-index: 1;
}
.contenteditable {
	&[contenteditable]:focus {
	 outline: 0px solid transparent; 
	}
}
.contenteditable[contentEditable="true"]:empty:not(:focus):before {
    content:attr(data-placeholder);
    color: #A2A2A3;
}
::-moz-selection {
    background: #ECF8FF;
}

::selection {
    background: #ECF8FF;
}
.start-wrapper {
	margin-top: 20px;
	min-height: calc(100vh - 177px);
	.title {
		font-weight: 100;
		margin: 0 0 10px;
		span {
			text-transform: capitalize;
		}
	}
}
  .steps-wrapper {
    background: #fff;
    //min-height: 100%;
    padding: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    .carousel {
		padding: 15px;
		overflow: hidden;
		border-radius: 6px;
		box-shadow: 0 2px 4px rgba(201,201,201,.5);
    }
  }
  .steps-flow {
  	list-style:none;
  }
  .step-count {
  	padding:20px 0px 30px;
  	text-align:center;
  	p{
  		border: 1px solid #ccc;
		display: inline-block;
		margin: 0px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		line-height: 32px;
		font-size:26px;
		text-align:center;
  	}
  }
  .import-social-apps {
  	text-align:center;
  	padding:30px 0 0;
  	.btn-block {
  		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.08) inset;
  		color: $white;
  		padding: 76px 0 75px 0;
  		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  		@extend .animate-all;
  		&.facebook {
  			background: $facebook;
  		}
  		&.twitter {
  			background: $twitter;
  		}
  		&.gmail {
  			background: $gmail;
  		}
  		&.instagram {
  			background: $instagram;
  		}
  		&:hover {
  			color: $white;
  			-webkit-transform: scale(1.05);
  			-moz-transform: scale(1.05);
  			transform: scale(1.05);
  		}
  	}
	  i{
	  	font-size:48px;
	  }
	  p {
	  	  padding: 5px;
		  margin: 0px;
		  font-size: 16px;
		  font-weight: 400;
		  letter-spacing: 1px;
	  }
  }
.tt-growl {
	position: absolute; 
	top: 30px;
	right: 30px;
	border-top: 8px solid #D00;
	padding :20px; 
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
	font-weight: 400;
	box-shadow: 0 0 15px rgba(17, 17, 17, 0.4);
	border-radius:2px;
}
 
// notification slider :: starts;

 a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
	&:hover {
	  cursor: pointer;
	}
	&.fixed {
	  position: fixed;
	}

}
.nav-expanded a.nav-expander.fixed {
    right: 20em;
}
.rhs-slided-nav {
  background: #1b212d;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 61px;
  width: 20em;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
  visibility: hidden;
}
.nav-expanded .rhs-slided-nav {
  right: 0;
  visibility: visible;
}
#nav-close {
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}
.nav-expanded .main-menu{
  display: block;
}
.main-menu {
	  display: none;
	li {
	  border-bottom: 1px solid #323949;
	  padding: 12px 20px;
	  color: rgba(255,255,255,.5);
	  cursor:default;
	  &:hover{
	  	color:rgba(255,255,255,.8);
	  }
	 a {
	    color: rgba(255,255,255,.5);
	    text-decoration: none;
			&:hover {
			  color: #FFFFFF;
			  text-decoration: none;
			}
		}
	}
}
