@import "variables";
.isotope-container {
	border: 12px solid transparent;
	//overflow: hidden;
	padding: 0;
}
.story-card {
	font-weight: 400;
	color: $text;
	background: $white;
	box-sizing: border-box;
	font-size: 14px;
	position: relative;
	padding: 0;
	margin: 7px;
	overflow: hidden;
	//box-shadow: rgba(0, 0, 0, 0.0588235) 0px 1px 3px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 2px 0px;
	//border-radius: 3px;
	-webkit-transition: box-shadow .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
	-moz-transition: box-shadow .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
	transition: box-shadow .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
	&.col-md-4 {
		width: calc(25% - 14px);
	}
	.author-data {
		padding: 15px;
		img {
			margin-right: 5px;
			border-radius: 4px;
			width: 30px;
		}
		a {
			font-weight: 500;
			color: $dark-text;
		}
	}
	.story-cover {
		background-size: cover;
		background-position: center;
		padding: 35% 0;
		-webkit-transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		-moz-transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		position: relative;
		//margin: 0 10px;
		//border-radius: 4px;
	}
	.story-meta {
		padding: 15px 15px 5px;
		height: 114px;
		word-wrap: break-word;
		h2 {
			font-family: "Roboto","sans-serif","Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 22px;
			line-height: 1.4;
			font-weight: 400;
			margin: 0 0 10px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			a {
				color: $dark-text;
			}
		}
	}
	.actions {
		opacity: 0;
		position: absolute;
		top: -5px;
		right: 15px;
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
		z-index: 2;
		.btn {
			border-radius: 50%;
			color: $brand-blue;
			height: 32px;
			min-width: 32px;
			width: 32px;
			padding: 0;
			overflow: hidden;
			border: 1px solid $brand-blue;
			background: none;
			position: relative;
			margin: 0 0 0 6px;
			border-radius: 4px;
			i {
				font-size: 16px;
				margin: 0;
			}
			&:focus,
			&:active {
				outline: none;
			}
			&.fav {
				&.ed {
					border: none;
					color: $white;
					background: #fa5e5b;
				}
			}
			&.dream {
				&.ed {
					border: none;
					color: $white;
					background: #16c98d;
				}
			}
		}
	}
	.story-link {
		background: rgba(0, 0, 0, 0.05);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.footer {
		padding: 15px;
		border-top: 1px solid rgba(229, 239, 244, 0.5);
		background: rgba(229, 239, 244, 0.1);
		box-shadow: none;
		color: $text;
		.btn {
			background-color: #F1F4F8;
			padding: 5px 12px;
			border-radius: 3px;
			text-transform: initial;
			i {
				margin: 0;
			}
		}
		.hits {
			padding: 5px 12px;
		}
		.date {
			line-height: 30px;
		}
		* {
			font-size: 90%
		}
	}
	&:hover {
		box-shadow: 0 0 46px rgba(0,0,0,0.33);
		box-shadow: 0 0 46px rgba(43, 51, 61, 0.18);
		.actions {
			opacity: 1;
			top: 15px;
		}
	}
}



// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) { 
	.story-card {
		&.col-md-4 {
			width: calc(100% - 14px);
		}
	}
}

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) { 
	.story-card {
		&.col-md-4 {
			width: calc(100% - 14px);
		}
	}
}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { 
	.story-card {
		&.col-md-4 {
			width: calc(50% - 14px);
		}
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) { 
	.story-card {
		&.col-md-4 {
			width: calc(33.3333% - 14px);
		}
	}
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) { 
	.story-card {
		&.col-md-4 {
			width: calc(25% - 14px);
		}
	}
}
