.graf--p, 
.graf--blockquote, 
.graf--pullquote,
.graf--h2,
.graf--h3,
.graf--h4,
.postList,
.imageCaption,
.graf--mixtapeEmbed {
	max-width: 700px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	word-break: break-word;
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}
.imageCaption {
	width: auto !important;
	position: static !important;
	text-align: center;
}
.graf--blockquote {
    font-size: 3.5rem;
    line-height: 5.1rem;
    clear: both;
    max-width: 1100px !important;
    text-align: center;
    min-height: 5.1rem;
    width: 90%;
    margin: 0.8em auto 1em;
    font-weight: 300;
    letter-spacing: -0.01em;
    padding: 0;
    border: none;
}
.graf--blockquote,
.graf--blockquote * {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.graf--p {
	font-size: 2.1rem;
	line-height: 3.5rem;
	font-family: "Roboto Slab";
	margin: 1em auto;
	min-height: 3.5rem;
}
.graf--figure {
    margin: 3.8em auto 4em;
    position: relative;
    clear: both;
    min-height: 150px;
}








.graf--h2 {
	font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.02em;
}
.graf--h3 {
	    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.022em;
    color: rgba(0,0,0,0.44);
}
.graf--h2 + .graf--h3, .graf--h2 + .graf--h4 {
	margin-top: 1px;
}