@import "variables";
.fixed-header {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	margin: 0;
	width: 100%;
	z-index:3;
	top: 0;
	left: 0;
	//box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	white-space: nowrap;
	z-index: 4;
	.logo {
		display: inline-block;
		font-size: 0;
		text-align: center;
		padding: 0 15px;
		line-height: 50px;
		vertical-align: middle;
		color: #FFF !important;
	}
}
.opaque-header {
	z-index: 1;
	top: 25px;
	left: 25px;
	width: calc(100% - 50px);
}
.opaque-header .logo {
	display: inline-block;
	font-size: 0;
	text-align: center;
	padding: 0 16px;
	line-height: 50px;
	background: #48DCD7;
	background: #faaf19;
	background: #F42;
	background: #1f4ba5;
	color: #FFF !important;
	width: 50px;
	height: 50px;
}
.tt-navbar {
	border-radius: 0;
	border: 0;
	margin: 0;
	background: $dark-text;
	z-index: 2;
	-webkit-transition: background .7s cubic-bezier(.165,.84,.44,1);
	-moz-transition: background .7s cubic-bezier(.165,.84,.44,1);
	transition: background .7s cubic-bezier(.165,.84,.44,1);
	//box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	//border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	.ham {
		color: #CCC;
		font-size: 20px;
		padding: 0;
		line-height: 50px;
	}
	ul {
		li {
			padding: 0;
			vertical-align: top;
			.btn {
				min-width: 50px;
				&.narrate {
					background: none;
					font-weight: 600;
					line-height: 50px;
					font-size: 11px;
					letter-spacing: .1em;	
					line-height: 30px;
					color: $white;
					opacity: 1;
					border: 1px solid $white;
					margin-top: 9px;
					padding: 0 15px;
					+ .narrate {
						margin-right: 15px;
						margin-left: 15px;
					}
				}
			}
			a {
				color: $white;
				background: none;
				display: block;
				padding: 0 15px;
				margin: 0;
				font-weight: 600;
				line-height: 50px;
				font-size: 11px;
				letter-spacing: .1em;
				position: relative;
				text-transform: uppercase;
				//text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
				span {
					position: relative;
				}
				i {
					font-size: 16px;
					vertical-align: middle;
				}
				.fa-angle-down {
					font-size: 12px;
					margin-left: 5px;
					font-weight: bold;
					vertical-align: middle;
					display: inline-block;
					width: 12px;
					margin-top: -3px;
					-webkit-transition: all .5s ease-in-out;
					-o-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out
				}
				.caret {
					opacity: .5;
					margin: -2px 0 0 5px;
				}
				&:hover {
					background: none;
					color: $white;
				}
			}
			&.active {
				> a {
					color: $white;
					font-weight: 700;
					&:hover {
						color: $white;
					}
					span:after {
						content: "";
						width: 100%;
						height: 1px;
						background-color: #aaa;
						position: absolute;
						bottom: -7px;
						left: 0;
						display: none;
					}
				}
			}
			&:hover {
				.tt-menu {
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
					height: auto;
					-webkit-transition: -webkit-transform .3s cubic-bezier(.3,1.6,.7,1),.3s opacity ease-out;
					-moz-transition: -moz-transform .3s cubic-bezier(.3,1.6,.7,1),.3s opacity ease-out;
					-o-transition: -o-transform .3s cubic-bezier(.3,1.6,.7,1),.3s opacity ease-out;
					transition: transform .3s cubic-bezier(.3,1.6,.7,1),.3s opacity ease-out;
					opacity: 1;
				}
				.fa-angle-down {
					-webkit-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
			&.language-selector {
				.tt-menu {
					>ul:first-child {
						width: 110px;
					}
				}
			}
		}
		&.nav-right {
			right: 0;
			li {
				a:after {
					position: absolute;
					left: 0;
					content: "";
					width: 1px;
					background-color: #EFEFF1;
					height: 50px;
					top: 0;
					display: none;
				}
				.tt-menu {
					a:after {
						display: none !important;
					}
				}
				> a {
					&.link-noti,
					&.nav-avatar {
						width: 32px;
						height: 32px;
						line-height: 32px;
						margin: 9px 15px 9px 0;
						padding: 0;
						text-align: center;
						background: transparentize($white, .7);
						i {
							font-size: 14px;
							width: 14px;
							text-shadow: 0 1px 0 $dark-text;
						}
					}
				}
			}
		}
	}
	.tt-menu {
		opacity: 0;
		box-shadow: 0 2px 10px rgba(0,0,0,.4);
		left: calc(50% - 100px);
		position: absolute;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		transition: all .2s ease-out;
		-webkit-transform-origin: 50% -10px;
		-moz-transform-origin: 50% -10px;
		-ms-transform-origin: 50% -10px;
		-o-transform-origin: 50% -10px;
		transform-origin: 50% -10px;
		height: 0;
		&.profile-menu {
			left: auto;
			right: 0;
		}
		&.notifications-menu {
			left: auto;
			right: 0;
			left: auto;
			right: 0;
			width: 400px;
			max-height: 500px;
			overflow: auto;
			> ul:first-child {
				width: 100%;
				color: transparentize($dark-text, .4);
				padding: 0 0 10px 0;
				text-transform: initial;
				font-size: 14px;
				display: table;
				width: 100%;
				li {
					display: block;
					&.title {
						border-bottom:none;
						article {
							border-bottom: 1px solid transparentize($dark-text, .8);
							background: none !important;
						}
						h5 {
							text-transform: uppercase;
							letter-spacing: .1em;
							> a:hover {
								background:none;
							}
						}
					}
					&.view-all-noti {
						background:rgba(0,0,0,.1);
						text-align:center;
						border-top:1px solid #ccc;
						padding: 5px 0px;
    					margin-bottom: -10px;
    					a:hover {
							background:none;
						}
					}
					article {
						padding: 7px 10px;
						vertical-align: middle;
						white-space: normal;
						img {
							position: absolute;
						}
						&:hover {
							background: transparentize($dark-text, .8);
						}
					}
				}
				a {
					font-weight: 400;
					display: inline;
					padding: 0;
					text-transform: initial;
					font-size: 14px;
				}
				.data-cell {
					margin-left: 48px;
					min-height: 40px;
					display: inline-block;
				}
			}
		}
		> ul:first-child {
			margin: 0;
			padding: 0;
			background: $white;
			position: relative;
			width: 200px;
			padding: 10px 7px;
		}
		li {
			margin: 0 0 3px;
			&.fa-caret-up {
				top: -16px;
				color: $white;
				font-size: 24px;
				left: calc(50% - 7px);
				position: absolute;
			}
			a {
				color: $dark-text;
				padding: 0;
				line-height: 1.5;
				padding: 5px 15px;
				letter-spacing: .05em;
				font-size: 11px;
				font-weight: 500;
				border-radius: 3px;
				&:hover {
					background: transparentize($dark-text, .9);
					color: $dark-text;
				}
				&:after {
					display: none !important;
				}
				i {
					margin-right: 8px;
				}
			}
		}
	}
}
.confirm-modal {
	.modal-content {
		border-radius:0px;
	}
	& .modal-dialog{
		margin-top:calc(100% - 90%);
	}
	button.close {
		position:absolute;
		top:5px;
		right:5px;
	}
	& .modal-header {
		background:#48DCD7;
		margin:-15px -15px 10px;
		& h1 {
			font-size:26px;
			color:#fff;
		}
		& h2 {
			line-height:24px;
		}
	}
}
.confirm-user-content {
	& .col-md-12 {
		margin-bottom:5px;
		margin-top:5px;
		&.form-control {
			border-width:0 0 1px 0;
			&[readonly], &[disabled]{
				background-color:#f8f8f8;
			}
		}	
	}
}
.navbar-search {
	max-width: 700px;
	margin: 9px auto;
	input {
		height: 40px;
		outline: none;
		border: none;
		border-radius: 2px;
		padding: 0 8px 0 15px;
		width: 100%;
		color: $white;
		background: transparentize($white, .75);
		&:focus {
			background: $white;
			color: $dark-text;
		}
		&::-webkit-input-placeholder {
			color: transparentize($white, .6);
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: transparentize($white, .6);
		}
		&::-moz-placeholder {  /* Firefox 19+ */
			color: transparentize($white, .6);
		}
		&:-ms-input-placeholder {  
			color: transparentize($white, .6);
		}
	}
	i {
		color: #7C848F;
		position: absolute;
		right: 30px;
		top: 11px;
	}
}
#notificationReadI {
	float: right;
	background: none;
	line-height: 1;
	font-size: inherit;
	text-transform: uppercase;
}
.notificationCount {
	display: none;
	background-color: $stumbleupon;
	height: 32px;
	position: absolute !important;
	right: 0;
	top: 0;
	min-width: 32px;
	border-radius: 50%;
	line-height: 32px;
	color: $white;
}
.subnav {
	background: #FFF;
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 0 15px;
	text-align: center;
	ul {
		border-bottom: none;
		min-height: 30px;
		li {
			margin-right: 12px;
			float: none;
			display: inline-block;
			a {
				color: transparentize($dark-text, .5);
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: .1em;
				font-weight: 600;
			    padding: 10px 20px;
				line-height: 30px;
				border-radius: 30px;
				border: none !important;
			    border-radius: 0;
			}
			&.active a:hover ,
			&.active a,
			a:hover {
				background: none;
				border: none;
				box-shadow: 0px -2px 0 $pink inset;
			    color: $pink;
			}
		}
	}
}
.white-bg #user_notification li {
	padding: 12px 20px;
    border-bottom: 1px solid #E2E2E2;
    margin: 0 -20px;
    &:first-child {
    	border-top: 1px solid #E2E2E2;
    	margin-top: -10px;
    }
}