.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.static   { position: static; }
 
.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }
 
.pin-top-right {
    top: 0;
    right: 0;
}
 
.pin-bottom-right {
    bottom: 0;
    right: 0;
}

.align-top    { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.align-middle { vertical-align: middle; }


.bold     { font-weight: bold; }
.regular  { font-weight: normal; }
.italic   { font-style: italic; }

 
.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.break-word { word-wrap: break-word; }
.no-wrap    { white-space: nowrap; }


$border-color: #f2f2f2;
 
.border-all    { border:        1px solid $border-color; }
.border-top    { border-top:    1px solid $border-color; }
.border-bottom { border-bottom: 1px solid $border-color; }
.border-right  { border-right:  1px solid $border-color; }
.border-left   { border-left:   1px solid $border-color; }



.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }
.flex         { display: flex; }

.pad0 { padding: 0 !important; }
.mar0 { margin: 0 !important; }
.ohidden { overflow: hidden; }
.clearfloat {
	clear: both;
	width: 100%;
}