@import "variables";
/* FLOATING DOWN ARROW */
@-webkit-keyframes floating {
	from {-webkit-transform:translate(0, 0px);} 65% {-webkit-transform:translate(0, 15px);} to {-webkit-transform: translate(0, -0px);}    
} 
@-moz-keyframes floating {
	from {-moz-transform:translate(0, 0px);} 65% {-moz-transform:translate(0, 15px);} to {-moz-transform: translate(0, -0px);}    
}
.mast-head {
	display: table;
	width: 100%;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	> div {
		display: table-row;
		> div {
			display: table-cell;
			vertical-align: middle;
			* {
				font-family: roboto;
			}
			h2 {
				font-size: 60px;
			    color: $white;
			}
			h3 {
				font-size: 28px;
				font-weight: 300;
				color: $white;
				margin-bottom: 40px;
			}
			.btn {
				padding: 12px 50px;
				font-weight: 400;
				border-radius: 4px;
				border: none;
				//background: rgba(0, 0, 0, 0.35);
				//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
				border: 1px solid rgba(0, 0, 0, 0.1);
				text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
				letter-spacing: .1em;
				&:hover {
					//background: $instagram;
				}
				&:active {
					box-shadow: 0 6px 15px rgba(0, 0, 0, 0.19) inset;
				}
			}
		}
	}
}
.how {
	background: $white;
	.container {
		max-width: 1250px;
	}
	.thumbnail {
		border: none;
		padding: 0;
		font-weight: 400;
		h3 {
			font-weight: 500;
			font-family: inherit;
			font-size: 24px;
		}
		p {
			opacity: .8;
		}
		i {
			background: url(/assets/images/places/how_icon@2x.png);
			background-size: 560px 140px;
			display: inline-block;
			height: 140px;
			width: 140px;
		}
		&.plan {
			i {
				background-position: -140px 0;
			}
		}
		&.experience {
			i {
				background-position: -280px 0;
			}
		}
		&.share {
			i {
				background-position: -420px 0;
			}
		}
	}
}
.hero {
		background: $white;
		margin: -20px 0 0 0;
		text-shadow: 0 1px 0 #fff;
		color: #494949;
		border-bottom: 1px solid #edeeee;
		//border-bottom: 1px solid #eaeff5;
	.para {
		padding: 80px 0 70px 0;
		font-size: 32px;
		font-weight: 100;
		text-shadow: 0 1px 0 #FFF;
	}
}
.landing-story-btns {
	.btn {
		background: #2D3340 !important;
		color: $white;
		margin: 20px;
		min-width: 165px;
		border-radius: 20px;
		&:hover {
			background: darken(#2D3340, 10%) !important;
			color: $white;
		}
	}
}