@import "variables";
.guest-body {
	padding: 0;
	.bg {
		background-image: url(/assets/images/hero/a.jpg);
		background-size: cover;
		-webkit-filter: blur(4px);
		-mox-filter: blur(4px);
		-o-filter: blur(4px);
		filter: blur(4px);
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		&:after {
			background: rgba(0,0,0,.4);
			content: "";
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			position: absolute;
		}
	}
	.flash-notice {
		top: 75px;
		width: 300px;
		right: 20px;
		margin: 0px;
		position: absolute;
		left: auto;
		background: #48dcd7;
		color: #FFF;
		border-radius: 2px;
		.close {
			margin-top: 3px;
		}
	}
	header {
		color: $white;
		font-size: 14px;
		font-weight: 400;
		.btn {
			background: rgba(255, 255, 255, 0.15);
			color: $white;
			font-size: 12px;
			font-weight: 700;
			margin-left: 8px;
			padding: 8px 12px;
			&.btn-signup {
				background: $white;
				background: linear-gradient(#fff, #F7F7F7);
				color: #333;
			}	
		}
	}

	.form-wrapper {
		font-weight: 400;
		width: 400px;
		height: 465px;
		position: absolute;
		top: -40px;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		&.signup-form-wrapper {
			height: 550px;
		}
		.controls {
			background-color: rgba(255, 255, 255, 0.15);
			padding: 30px;
			border: 1px solid rgba(255, 255, 255, 0.15);
			border-radius: 6px;
		}
		h1 {
			margin-bottom: 20px;
		}
		a {
			color: #FFF;
			padding-top: 10px;
			display: inline-block;
		} 
		input,
		.btn {
			display: block;
			height: 44px;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}
		.btn {
			border-radius: 3px;
			font-weight: 600;
			margin: 0 0 8px;
			padding: 0;
			text-align: left;
			i {
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				width: 44px;
				display: inline-block;
				line-height: 44px;
				margin: 0 12px 0 0;
				text-align: center;
				font-size: 16px;
				vertical-align: middle;
			}
		}
		.controls {
			input {
				&:first-child {
					border-radius: 3px 3px 0 0;
				}
				+ input {
					border-top: 1px solid #eee
				}
			}
			.btn {
				border-radius: 0 0 3px 3px;
				text-align: center;
			}
		}
	}
	.footer {
		border: none;
		right: 25px;
		bottom: 25px;
		position: absolute;
		background: none;
		padding: 0;
	}
	.footer ul {
		margin: 0;
		padding: 0;
	}
	.footer ul li {
		margin: 0;
		padding: 0;
		line-height: 1;
	}
	.footer ul li a {
		font-weight: 500;
	}
}



#loginModal {
	vertical-align: middle;
	.close {
		position: fixed;
		right: 20px;
		top: 20px;
		font-size: 30px;
		font-weight: normal;
		text-shadow: none;
		opacity: 1;
		color: rgb(255, 255, 255);
		background-color: #000;
		width: 32px;
		height: 32px;
		z-index: 1;
		border-radius: 50%;
	}
	.modal-dialog {
		font-size:14px;
		height: 525px;
		width: 670px;
		top: calc(50% - 262px);
		left: calc(50% - 335px);
		position: absolute;
		.modal-content {
			border-radius: 0;
			border: none;
			height: 100%;
			#tabs {
				padding: 0;
				float: left;
				width: 385px;
				height: 100%;
				.nav-tabs.nav-justified {
					//background: #48DCD7;
					background: #e0e0e0;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 600;
					>li>a {
						color: $dark-text;
						border: none;
						border-radius: 0;
					}
					>li.active>a,
					>li:hover>a {
						color: #000;
					}
				}
				.tab-content {
					height: calc(100% - 40px);
				}
				.tab-pane {
					padding: 30px 40px;
					position: relative;
					height: 100%;
					.form-group {
						margin-bottom: 0;
						.form-control {
							color: #000;
							margin-bottom: -1px;
							position: relative;
							font-weight: 600;
						}
						.form-control:focus {
							z-index: 1;
							border-color: #5BBC2E;
							box-shadow: 0 0 0 1px #5BBC2E inset;
						}
					}
					.form-control {
						height: 54px;
						font-size: 14px;
						border-color: #E5E5E5;
						border-radius: 0;
						box-shadow: none;
					}
					.btn-block {
						padding: 12px 15px;
					}
					.btn-wrapper {
						padding-top: 15px;
					}
					.recover-pwd {
						margin-top: 8px;
						font-weight: 600;
						text-transform: uppercase;
						font-size: 11px;
						letter-spacing: .1rem;
					}
				}
			}
			.bg-container {
				float: left;
				height: 100%;
				width: 285px;
				padding: 20px;
				//background: url(https://res.cloudinary.com/triptroop/image/upload/c_scale,w_600/v1426832289/hero/themes15.jpg);
				background: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/hero/bg7.jpg) no-repeat right center / cover;
				background-size: cover;
				position: relative;
				text-transform: uppercase;
			}
			.bg-container:after {
				content: "";
				position: absolute;
				display: none;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(4, 4, 35, 0.3);
				z-index: 0;
			}
			.bg-container .logo {
				margin-top: 50px;
			}

			.bg-container .points {
				color: #fff;
				position: absolute;
				bottom: 40px;
				font-weight: 600;
				padding: 0;
				text-transform: uppercase;
				letter-spacing: .1rem;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
			}
			.bg-container .points h4 {
				font-size: 16px;
				font-weight: bold;
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
				margin: 0;
				padding-bottom: 15px;
				width: calc(100% - 20px);
			}
			.bg-container .points ul {
				margin: 0;
				font-size: 12px;
				list-style: none;
				padding: 0;
				li {
					padding-top: 10px;
				}
			}
			.bg-container * {
				position: relative;
				z-index: 1;
			}
			.modal-body {
				height: 100%;
			}
			.modal-footer {
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 0;
				border: none;
				width: 100%;
			}
			.modal-footer .btn {
				border-radius: 0;
				width: 50%;
				float: left;
				padding: 12px 15px;
			}
		}
	}
}
.err {
	border-radius: 4px;
	position: fixed;
	top: 20px;
	z-index: 999999;
	width: 400px;
	left: 0;
	right: 0;
	margin: auto;
	font-weight: 400;
	.close {
		font-weight: bold;
		font-size: 24px;
		top: 50%;
	}
	&.alert-danger {
		background: $error;
		color: $white;
	}
	&.alert-success {
		background: $success;
		color: $white;
	}
	&.alert-warning {
		background: $warning;
		color: $white;
	}
	&.alert-info {
		background: $info;
		color: $white;
	}
}













.login-box {
	background: #FFF;
	font-weight: 400;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-bottom: 20px;
	margin-top: 80px;
	[class*="col-"] {
		padding: 30px 40px;
		//min-height: 438px;
		&.with-social {
			background: #f5f6f7;
			&.login {
				min-height: 338px;
			}
			&.signup {
				min-height: 438px;
			}
		}
	}
	h3 {
		font-size: 22px;
		margin: 0 0 40px;
	}
	.btn {
		margin-bottom: 10px;
		line-height: 40px;
		padding: 0;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.form-control {
		height: 40px;
	}
	.btn-action {
		margin-top: 20px;
		padding: 0 20px;
	}
	.back-to {
		margin-top: 33px;
	}
}