/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.navbar-toggle {
		border: none;
	}
/*
body {
	padding-top: 40px;
}
		border-radius: 0;
		height: 40px;
		padding: 10px 20px;
		margin: 0;
	}
	.navbar-toggle .icon-bar {
		background: #06d;
	}
	.fixed-header .logo {
		line-height: 40px;
	}
	.fixed-header {
		height: 40px;
	}
	*/

	.isotope-container {
		ul {
			margin: 0;
			padding: 0;
		}
	}
	.navbar-toggle {
		margin: 0;
		height: 50px;
		border-radius: 0;
		border: none;
		border-left: 1px solid rgb(240, 240, 242);
		text-align: center;
		padding: 10px 18px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops*/
@media only screen and (min-width : 992px) {
	.landing-wrapper {
		.col-md-4 {
/*
			&:first-child {
				width: 100%;
				.story-cover {
					padding: 15vw;
				}
				.meta {
					background: none;
					font-size: 17px;
					top: 50%;
					position: absolute;
					text-align: center;
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					width: 100%;
					border: none;
					padding: 60px 0;
					h2 {
						font-size: 75px;
						font-weight: 800;
						letter-spacing: .3rem;
						text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
					}
					.author {
						margin-top: 22px;
						a {
							font-weight: 600;
						}
					}
				}
			}
			*/
		}	
	}
}

/*Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* theme page css */
.container-fluid{ min-width: inherit;}

@media(max-width: 990px)
{

	.story-card {
		.actions {
			top: 20px;
			opacity: 1;
		}
	}
}

@media(max-width: 900px)
{
	.theme-card{ width:calc(50% - 20px); height: 200px; }
	.theme-card.card-half{ width:calc(50% - 20px); }

	.landing-wrapper {
		padding: 0;
		border: none;
		.story-card {
			border: none;
		}
	}
}


@media(max-width: 768px)
{
	/* footer */
	.footer ul{ margin: 0px; font-size: 9px; }

	/* sign up sign in pop up */
	#loginModal .modal-dialog .modal-content .bg-container{ width: 100%; height: inherit; display: none;}
	#loginModal .modal-dialog .modal-content .modal-body{ height: inherit;}

	#loginModal .modal-dialog {
		width: inherit;   display: inline-block;  float: none;  position: relative;
		left: inherit; top: inherit;
	}
	#loginModal .modal-dialog .modal-content #tabs{ width: 100%;}
	#loginModal{ text-align: center;}

}

@media(max-width: 600px)
{
	.theme-card{ width:calc(100% - 20px); }
	.theme-card.card-half{ width:calc(100% - 20px); }
	.theme-card { height: 200px; }

}