@import "variables";
.result-container {
  height: calc(100vh - 50px);
  background: #eee;
  width: 100%;
  font-size: 14px;
  font-weight: 400;

  .text-muted {
    color: #666;
  }
  .results-list .results-count {
    position: fixed;
    left: calc(50% - 450px);
    top: 70px;
    z-index: 100;
    background: #333;
    padding: 6px 20px;
    color: $white;
    width: 200px;
    border-radius: 4px;
    text-align: center;
  }
  .results-list {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    height: 100%;
    width: 700px;
    padding: 66px 0 0;
    z-index: 2;
  }
  .results-list-container {
    overflow: auto;
    height: 100%;
  }
  .results-list ul {
    display: table;
    width: 100%;
  }
  .results-list li {
    cursor: pointer;
    padding: 12px;
    display: table-row;
  }
  .results-list li.placeholder-text {
    cursor: default;
    background: none !important;
  }
  .results-list .placeholder-text h2 {
    font-weight: 100;
    font-size: 42px;
    opacity: .2;
    padding: 100px 40px;
    line-height: 1.5;
  }
  .results-list li:hover,
  .results-list li.selected {
    background: #F7F7F7;
  }
  .results-list li .cell {
    border-bottom: 1px solid #E6E6E6;
    display: table-cell;
    padding: 15px 12px;
    vertical-align: top;
  }
  .results-list li .cell:first-child {
    width: 94px;
  }
  .results-list li .cell img {
    width: 71px;
  }
  .results-list li .cell h3 {
    font-family: roboto;
    margin: 0 0 5px;
    font-size: 21px;
  }

  .map {
    width: calc(100% - 700px);
    height: 100%;
  }
  .place-searchbar-container {
    border-bottom: 1px solid #E6E6E6;
    background-color: #f7f8f9;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    padding: 12px;
  }
  .place-searchbar-container .btn {
    padding: 11px 0;
    line-height: 1;
    margin: 0;
    border-radius: 4px;
    font-weight: 500;
  }
  .place-searchbar-container .btn i {
    margin: 0;
    font-size: 16px;
  }
  .form-control {
    min-height: 42px;
  }
  .form-control.place-input {
    background: #FFF;
    border-radius: 4px;
    background: #FFF;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .form-group {
    margin: 0;
  }
  .chosen-container {
    width: 100% !important;
    text-transform: uppercase;
  }
  .chosen-container * {
    transition: none;
  }
  .chosen-container-single .chosen-single,
  .chosen-container-active.chosen-with-drop .chosen-single {
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.1);
    height: 42px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background: #FFF;
    box-shadow: none;
  }
  .chosen-container-single .chosen-single div b {
    background-size: 67px 37px!important;
    background-position: -3px 10px;
    transition: none;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -26px 10px;
  }
  .chosen-container-single .chosen-drop {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .chosen-container .chosen-results {
    padding: 0;
    margin: 0;
    display: block;
  }
  .chosen-container .chosen-results li {
    padding: 11px 10px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .chosen-container .chosen-results li.highlighted {
    background: #6696DC !important;
  }
  .rating {
    background: #ff5a5f;
    line-height: 32px;
    padding: 0 5px;
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
    display: inline-block;
    color: #FFF;
    font-size: 12px;
  }
  .fav {
    margin-right: 10px;
    color: #ccc;
  }
  .fav:hover {
    color: #00aaff;
  }
  .info-overlay {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .info-window {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    font-size: .9em;
    width: 450px;
    border-bottom: 0;
    border-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transform: translateX(700px);
    -moz-transform: translateX(700px);
    -ms-transform: translateX(700px);
    -o-transform: translateX(700px);
    transform: translateX(700px);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }
  .info-window.opened {
    -webkit-transform: translateX(-700px);
    -moz-transform: translateX(-700px);
    -ms-transform: translateX(-700px);
    -o-transform: translateX(-700px);
    transform: translateX(-700px);
  }
}
.info-window-close {
  background: url(/assets/images/close_bg.png);
  width: 40px;
  height: 58px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 66px;
  z-index: 1;
  right: 0;
  -webkit-transform: translateX(1150px);
  -moz-transform: translateX(1150px);
  -ms-transform: translateX(1150px);
  -o-transform: translateX(1150px);
  transform: translateX(1150px);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  &.opened {
    -webkit-transform: translateX(-1150px);
    -moz-transform: translateX(-1150px);
    -ms-transform: translateX(-1150px);
    -o-transform: translateX(-1150px);
    transform: translateX(-1150px);
  }
}
.info-window-close span {
  cursor: pointer;
  display: block;
  width: 29px;
  opacity: .4;
  margin-left: 11px;
  line-height: 58px;
  text-align: center;
  font-size: 20px;
}
.info-window-close:hover span {
  opacity: 1;
}