@import "variables";
//Create a story
.save-story {
	background-color: #FFF;
	color: #0066DD;
	box-shadow: 0 0 0 1px #06d inset;
}
.crt-wrapper {
	.fixed-header {
		position: fixed;
	}
}
.crt-wrapper,
.post-wrapper {
	background: $white;
	margin-top: -60px;
	.post-cover {
		background: $dark-text;
		color: $dark-text;
		background: #000;
		background: #161c27;
		height: 100vh;
		background-size: cover;
		background-position: 50% 0px;
		position: relative;
		text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
		&:after {
			background: rgba(0, 0, 0, 0.25);
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 0;
		}
		.upld-info-tip {
			bottom: 20px;
			right: 20px;
			z-index: 1;
			.btn {
				background: transparentize($white, .7);
				border-color: transparentize($white, .7);
			}
			input {
				height: 50px;
				top: 0;
				opacity: 0;
				cursor: pointer;
			}
		}
		.add-location {
			font-size: 36px;
			display: none;
			.ion-plus-round {
				font-size: 16px;
				position: absolute;
				top: -8px;
			}
		}
		.author-info {
			z-index: 1;
			font-size: 23px;
			text-transform: initial;
			img {
				margin-right: 10px;
				max-width: 50px;
			}
			a {
				text-transform: capitalize;
				color: $white;
				padding-bottom: 3px;
			}
		}
	}
	.is-scroll-to-content {
		left: 0;
		right: 0;
		width: 31px;
		margin: auto;
		opacity: 1;
		z-index: 1;
		@extend .animate-all;
		&:hover {
			color: $white;
			bottom: 20px;
		}
	}
}
.story-meta-bar {
	color: $dark-text;
	height: 40px;
	line-height: 40px;
	padding: 0 24px;
	background: #f5f6f7;
	text-shadow: none;
	z-index: 1;
	width: 100%;
	.author-info {
		color: $dark-text;
	}
	button {	
		i {
			vertical-align: top;
		}
	}
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
	width: 100%;
	height: calc(100vh - 74px);
	background-position: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.title-wrapper {
	display: table;
	width: 90%;
	margin: 0 5%;
	height: calc(100% - 38px);
	position: relative;
	z-index: 1;
	.content {
		display: table-row;
		.block {
			display: table-cell;
			vertical-align: middle;
		}
	}
	h1 {
		color: $white;
		font-size: 70px;
		font-weight: bold;
		line-height: 1.5;
		margin: 10px auto 0;
		text-transform: uppercase;
		max-width: 80%;
		clear: left;
		* {
			border: inherit !important;
			line-height: inherit !important;
			font-weight: inherit !important;
			font-size: inherit !important;
			font-family: inherit !important;
			color: inherit !important;
			padding: inherit !important;
			margin: inherit !important;
			display: inherit !important;
			white-space: inherit !important;
			text-transform: inherit !important;
			background: inherit !important;
		}
	}
	.story-description {
		background: none;
		padding: 0;
		border: none;
		font-size: 23px;
		text-align: center;
		font-style: italic;
		font-weight: 300;
		margin: 0px auto 25px;
		width: 90%;
		max-width: 700px;
		display: block;
		color: #FFF;
		outline: none;
		resize: none;
		overflow: hidden;
	}
	.content {
		margin: 0 auto;
	}
}
.post {
	section {
		background: $white;
		&.map-wrapper {  
			padding: 60px;
			height: 80%;
			#map {	
				height: 100%;
				width:100%; 
				overflow: hidden;
				.leaflet-left .leaflet-control {
					margin-left: 20px;
				}
				.leaflet-top .leaflet-control {
					margin-top: 20px;
				}
				.leaflet-popup-content img {
					max-width:100%;
				}
			}
		}
	}
	.content {
		margin: 0 auto;
		min-height: 500px;
		padding: 40px 0;
		.postArticle .layoutSingleColumn {
			width: auto;
		}
		&.readContent {
			a {
				cursor: pointer;
			}
		}
	}
/*
.story * {
margin: 1em auto;
line-height: 1.5;
}
*/
}
.fs {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 20px;
	width: 40px;
	z-index: 1;
}
.meta {
	background: #f7f7f7;
	padding: 0 0 40px;
	.post-meta {
		padding: 40px 0 80px;
		.form-control {
			border-color: rgba(34,36,38,.2);
		}
		.content {
			width: 750px;
			margin: 0 auto;
		}
		label {
			font-weight: 500;
		}
		.form-control {
			border-color: rgba(34,36,38,.35);
			background: #fff;
			color: rgba(0,0,0,.8);
			height: 42px;
		}
		.left-inner-addon {
			position: relative;
			input {
				padding-left: 37px;    
			}
			i {
				opacity: .5;
				position: absolute;
				width: 42px;
				line-height: 42px;
				text-align: center;
				pointer-events: none;
			}
		}
		.right-inner-addon {
			position: relative;
			input {
				padding-right: 37px;    
			}
			i {
				opacity: .5;
				position: absolute;
				right: 0px;
				width: 34px;
				line-height: 34px;
				text-align: center;
				pointer-events: none;
			}
		}
		.add-places {
			margin-top: 30px;
		}
	}
	.content {
		margin: 0 auto;
		width: 750px;
		h1 {
			margin: 0 0 40px;
		}
		.tagsinput {
			background: none;
			border: none;
			padding: 0;
			height: auto !important;
			width: 100% !important;
			.tag,
			input {
				background: none;
				margin: 0;
			}
			input {
				border: 2px solid transparent;
				height: 43px;
				padding: 0 20px;
				min-width: 110px;
			}
			.tag {
				border: 2px solid $text;
				border-radius: 0;
				color: $dark-text;
				margin: 0 10px 10px 0;
				padding: 8px 45px 8px 20px;
				font-size: 14px;
				font-weight: 400;
				position: relative;
				a {
					text-decoration: none;
					font-size: 11px;
					font-weight: normal;
					display: inline-block;
					vertical-align: middle;
					position: absolute;
					top: 0;
					right: 0;
					padding: 0;
					background: rgba(0, 0, 0, 0.18);
					color: $dark-text;
					line-height: 39px;
					width: 25px;
				}
			}
		}
	}
}
.post-wrapper {
	.actions {
		margin-top: 6px;
		position: absolute;
		right: 20px;
		bottom: 20px;
		z-index: 1;
		button {
			text-shadow: none;
			border: none;
			border-radius: 3px;
			background: none;
			color: $white;
			display: inline-block;
			font-size: 20px;
			float: right;
			margin: 4px 0 0 20px;
			padding: 0;
			border: 1px solid #FFF;
			border-radius: 0;
		    width: 36px;
	    	height: 36px;
			@extend .animate-all;
			&.share-fb:hover {
				color: $facebook;
			}
			&.share-tw:hover {
				color: $twitter;
			}
			&.share-gp:hover {
				color: $google-plus;
			}
		}
	}
	footer {
		background: #fafafa;
		box-shadow: 0 -1px 0px rgba(0,0,0,.05);
		> div {
			margin: 0 auto;
			padding: 40px 0 0;
			max-width: 750px;
			hr {
				border-top-color: #CCC;
				margin: 30px 0 0;
			}
			.actions {
				margin: 0 0 30px -10px;
				position: static;
				button {
					background: none;
					border-radius: 3px;
					border: 1px solid rgba(34,34,34,.2);
					color: #444;
					display: inline-block;
					font-size: 20px;
					float: right;
					height: 50px;
					margin: 0 0 0 8px;
					padding: 0;
					width: 50px;
					@extend .animate-all;
					&.fav {
						color: #06f;
						border-color: #06f;
						&.ed {
							color: $white;
							background: #06f;
						}
					}
					&.dream {
						color: #F42;
						border-color: #F42;
						&.ed {
							color: $white;
							background: #F42;
						}
					}
					&.share-fb:hover {
						background: $facebook;
						color: $white;
					}
					&.share-tw:hover {
						background: $twitter;
						color: $white;
					}
					&.share-gp:hover {
						background: $google-plus;
						color: $white;
					}
				}
			}
			.cat {
				color: #000;
				margin: 0 0 0 -10px;
				padding: 25px 0 0;
				li {
					border-radius: 30px;
					border: 2px solid #000;
					margin: 0 0 10px 10px;
					padding: 0;
					&.title {
						display: block;
						border: none;
						letter-spacing: .1em;
						font-weight: 500;
						font-size: 14px;
						margin-bottom: 20px;
					}
					a {
						color: #000;
						display: block;
						font-weight: 500;
						font-size: 14px;
						padding: 8px 35px;
						@extend .animate-all;
						&:hover {
							background: #000;
							color: $white;
						}
					}
				}
			}
			&.narrator-info {
				padding: 20px 0 40px 0;
				.author {
					img {
						max-width: 50px;
						margin: auto;
					}
					small {
						font-size: 10px;
						opacity: .5;
					}
					a {
						color: $dark-text;
						padding-bottom: 3px;
						line-height: 1;
						text-transform: capitalize;
						vertical-align: middle;
						&.name {
							margin-top: 5px;
						}
					}
					.meta {
						background:none;
						padding: 0;
						p {
							font-size: 1.3rem;
							margin: 0;
						}
					}
				}
			}
		}
	}
	.post-cover {
		/*share story on social media*/
		.sharrre{
			float:left;
			.count {
				display:none;
			}
			.share {
				background: rgba(0, 0, 0, 0.2);
				color: $white;
				display:block;
				font-size:12px;
				font-weight:bold;
				height:30px;
				line-height:30px;
				margin-left: -1px;
				padding:0;
				text-align:center;
				text-decoration:none;
				width:70px;
				border:1px solid #ccc;
			}
		}
		/*share story on social media*/
	}
}

/* Calendar customization */
.daterangepicker {
	border: none;
	padding: 0;
}
.daterangepicker.show-calendar .calendar {
	margin: 0;
}
.daterangepicker .calendar-date {
	padding: 0 0 10px;
	border: none;
	border-left: 1px solid #DDD;
}
.daterangepicker .calendar-date thead tr:first-child th {
	background: #7323dc;
	color: #FFF;
}
.daterangepicker .calendar-date thead tr:last-child th{
	background: #F7F7F7;
	font-size: 12px;
	font-weight: normal;
}
.daterangepicker td, 
.daterangepicker th {
	font-size: 14px;
	border-radius: 0;
	height: 32px;
	width: 32px;
}
.daterangepicker td.available:hover, 
.daterangepicker th.available:hover,
.daterangepicker td.active, 
.daterangepicker td.active:hover {
	background: #e62878;
	color: #FFF;
}
.daterangepicker td.in-range {
	background: rgba(230, 40, 120, 0.1);
	border-radius: 50%;
}
.daterangepicker td,
.daterangepicker td.start-date,
.daterangepicker td.end-date,
.daterangepicker td.start-date.end-date {
	border-radius: 50%;
}
.daterangepicker .ranges {
	width: 250px;
	margin: 0 !important;
	padding: 10px 20px;
}
.daterangepicker .ranges .range_inputs>div {
	float: none;
}
.daterangepicker .ranges .input-mini {
	width: 100%;
	font-size: 13px;
	height: 35px;
	border-radius: 0;
}
.daterangepicker .ranges .range_inputs>div:nth-child(2) {
	padding: 0;
}
.postContent {
	font-family: "freight-text-pro", "Merriweather", "open sans", Georgia, Cambria, "Times New Roman", Times, serif !important;
}
#shareStoryModal {
	.modal-dialog {
		height: 200px;
		position: fixed;
		top: -150px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 600px;
	}
	.modal-content {
		border-radius: 0;
		font-size: 20px;
		box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.3);
		-webkit-box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.3);
		-moz-box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.3);
	}
	.close {
		font-size: 32px;
		font-weight: normal;
		top: 1px;
		position: absolute;
		right: 10px;
		opacity: 1;
		z-index: 1;
		&:hover {
			color: $brand-blue;
		}
	}
	h3 {
		font-family: great vibes;
		font-size: 54px;
		margin: 0;
		line-height: 120px;
	}
	.broadcast-story {
		text-align: center;
		border-top: 0;
		margin: 32px;
		background: #fff;
		max-width: 560px;
		padding: 0;
		border: 1px solid rgba(0,0,0,.1);
		line-height: 56px;
		li {
			width: 50%;
			&:first-child {
				background: #f6f6f6;
				font-size: 14px;
				letter-spacing: .05em;
			}
		}
		button {
			background: none;
			border: none;
			padding: 0 15px;
			line-height: 56px;
			width: 56px;
			&.share-tw {
				color: $twitter;
				&:hover {
					background: transparentize($twitter, .9);
				}
			}
			&.share-fb {
				color: $facebook;
				&:hover {
					background: transparentize($facebook, .9);
				}
			}
		}
	}
}