@import 'variables';
.avatar-container{
    padding-top:80px;
    .small-size{ width: 80px; color: #666; font-style: italic; position:relative;}
    h1{ margin:10px 0px 25px 0px; font-weight: bold;}
    .narrate-btn{ border:1px solid; margin:25px 0px 25px 0px;
        transition: all 0.5s ease;
        &:hover{ background:#111; color:$white; border-color:#000;}
    }

    .social-iconavatar a{ margin:0px 15px;
        height:40px;
        width:40px;
        border-radius:3px;
        background:rgba(255,255,255,0.5);
        display:inline-block;
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        -moz-transition: -moz-transform 0.4s ease-in-out;
        -o-transition: -o-transform 0.4s ease-in-out;
        -ms-transition: -ms-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
        &:hover{
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
            -ms-transform: rotateZ(360deg);
            -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);

        }
        i{ font-size:25px; display:block; margin-top:7px;}

    } 

    .fb-logo {
        color: #3b5999;
    }
    .tw-logo {
        color: #00aced;
    }
    .ld-logo {
        color: #0274b3
    }

    .ddp_wrap{
        margin-top:25px;
        a{
            border:7px solid #666;
            display:block;
            background:#111;
            padding:50px 0px;
            margin-bottom: 20px; 
            color:$white;
            transition: all 0.5s ease;
            i{
                transition: all .2s ease-in-out;



            } 

            &:hover{

                background:lighten(#111,10%);
                i{
                    transform: scale(1.1);

                }    
            }
            &.published-trips:hover {

                background:lighten(#5bc0de,10%);
            }
            &.my-drafts:hover {

                background:lighten(#f0ad4e,10%);
            }
            &.dreamlist-box:hover {

                background:lighten(#d9534f,10%);
            }

            @media(max-width:970px)
            {
                padding:50px 0px; 
            }

            @media(max-width:768px)
            {
                padding:30px 0px; 
            }


        }
        i{ font-size:35px;}    

    }




}

.border{ border:1px solid;}


@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

.avatar-container{ background:url(/assets/images/blur5.jpg); background-size:cover;}

.avatar-container .about-content{ position:relative; display:inline-block; margin:auto; max-width:780px;}
.avatar-container .about-content:before, .avatar-container .about-content:after {
    content: '\2014 \2009';
    font-size: 32px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight:bold;
    vertical-align:top;
    line-height:0.8
}

.avatar-container .about-content:before {
    content: '\201C';
    position:absolute;
    left:0;
    top:-4px;
    left:-20px;
}

















.profile-wrap {
    .profile-header {
        background: linear-gradient(#222324,#111213);
        //background: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/hero/bg2.jpg) no-repeat top left / cover;
        background: #1A5A8C;
        background: #3e50b4;
        background: url(/assets/images/hero/f.jpg) center / cover;
        //as
        color: $white;
        padding: 60px 0 0;
        .edit {
            top: 20px;
            right: 20px;
            background: #e62878;
            width: 40px;
            height: 40px;
            padding: 0;
            border-radius: 3px;
            color: $white;
            text-align: center;
            padding: 11px;
        }
        .avatar {
            max-width: 156px;
            height: 156px;
            margin: 0 auto 30px;
            border: 3px solid #FFF;
            border-radius: 50%;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
            .profile-img-box {
                position: relative;
                .overly {
                    cursor: pointer;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    background: rgba(0,0,0,0.5);
                    opacity: 0;
                    border-radius: 50%;
                    .zoom-img {
                        position: absolute;
                        top: 38%;
                        left: 41%;
                        .fa {
                            font-size: 30px;
                            color: #fff;
                        }
                    }
                }
                &:hover {
                    .overly {
                        opacity: 1;
                    }
                }
            }

        }
        .name {
            margin-bottom: 5px;
        }
        .desc {
            font-size: 18px;
            margin-bottom: 30px;
            text-shadow: 0 1px 0 $white;
        }
        .list-unstyled {
            margin: 0 0 40px;
            li {
                padding: 0 30px;
                height: 67px;
                vertical-align: top;
                small {
                    color: $white;
                    font-size: 75%;
                    text-transform: uppercase;
                }
                .count {
                    color: $white;
                    font-size: 26px;
                    font-weight: 400;
                }
                .sicon {
                    display: inline-block;
                    margin: 10px 20px 0 0;
                    &:last-child {
                        margin-right: 0;
                    }
                    i {
                        font-size: 18px;
                    }
                }
                + li {
                    border-left: 1px solid rgba(255, 255, 255, 0.1);
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        .btn {
            border: 1px solid $white;
            color: $white;
            font-size: 12px;
            font-weight: 600;
            width: 130px;
            letter-spacing: .1rem;
            margin-top: 16px;
            @extend .animate-all;
            &:hover {
                background-color: $white;
                color: #3E50B4;
            }
        }
    }
}
#avtar_prof_model {
    .modal-dialog {
        width: 580px;
        .modal-content {
            border-radius: 50%;
            border: none;
            img {
                border-radius: 50%;
            }
        }
    }
}