@import 'variables';
.settings-wrap {
    padding: 20px 0 0;
    min-height: 100%;
    > .content {
        margin: 0 auto;
        min-height: 100%;
    }
    h1 {
        padding: 0;
        margin: 0 0 30px;
        line-height: 1;
        text-transform: uppercase;
        color: #000;
    }
    .white-bg {
        padding: 20px;
        margin-bottom: 20px;
    }
    #sidebar .white-bg {
        padding: 0;
    }
    .profile {
        border-radius: 3px;
        margin: 10px;
        .userAvtar {
            width: 80px;
            height: 80px;
            img {
                width: 80px;
                height: 80px;
            }
        }
        .profile-meta {
            background: none;
            margin: 0 0 0 95px;
            h2 {
                margin: 0;
                line-height: 80px;
            }
        }
    }
    .setting-actions {
        li {
            a {
                border-radius: 0;
                i {
                      font-size: 16px;
                      margin-right: 8px;
                      position: relative;
                      top: -1px;
                }
            }
            + li {
                margin: 0;
            }
            &.active {
                a {
                background: $brand-blue;
                color: $white;
                }
            }
        }
    }
    .title {
        border-bottom: 1px solid #DDE4EC;
        font-size: 22px;
        margin: 0 0 15px;
        padding: 15px;
        small {
            margin-top: 3px;
        }
    }
    .form-group {
        label {
            font-weight: normal;
            line-height: 36px;
            padding: 0 30px 0 0;
            p {
                line-height: 1.5;
            }
        }
        .info {
            clear: both;
            color: $text;
        }
        input,
        select {
            height: 36px;
            line-height: 36px;
            border: 1px solid #DFDFDF;
            background: none;
        }
        textarea {
            border: 1px solid #DFDFDF;
            height: 100px;
        }
    }
    .btn-success {
          background: #7323dc;
          font-weight: 500;
          padding: 7px 30px;
    }
    .btn-wrapper {
        margin-bottom: 20px;
    }
}
/* file button :: starts */
input[type="file"] {
    display: block;
}
 input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn-file {
    position:absolute;
    bottom:0px;
    right:10px;
    cursor:pointer;
    background:rgba(0,0,0,.5);
    border:1px solid rgba(255, 255, 255, 0.49);
    color:#fff;
    height:26px;
    width:26px;
    text-align:center;
    font-size:14px;
    border-radius:50%;
    .icon-pencil {
        margin: 7px 0 0 3px;
        display:inline-block;
    }
}
.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}
.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
}
/* file button :: ends */
.userAvtar-container {
  position:relative;  
  display:inline-block;
  overflow:hidden;
}
.userAvtar {
    width:125px;
    height:125px;
    text-align:center;
    border-radius:50%;
    overflow:hidden;
    background:#E3E6E7;
    & > td {
        vertical-align:middle;
    }
    img {
        max-width:125px;
        max-height:125px;
    }

}
.add-icon {
    display: block;
    font-size: 10em;
    text-align: center;
    color:#ccc;
}    
/* sidebar
 **************************************************/
#nav-container {
    position: relative;
    padding-bottom: 75px;
    bottom: 0;
    height: 100%;
}

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrate {
    width: 125px;
    margin: 0 auto;
    height: 125px;
    border-radius: 50%;
}

#profile .title h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 20px 0 10px 0;
}

#profile .title h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0 10px 0;
}
