@import "variables";
.search-wrap {
	min-height: calc(100vh - 178px);
	.fixed-header {
		background: #F9F9F9;
	}
	.tt-content {
		padding: 0 25px;
	}
	.searchbar-wrap{
		background: $white;
		border-radius: 3px;
		margin: 0 0 25px;
		padding: 10px;
		box-shadow: 0 0 6px #CBD6E4;
    	input {
			box-shadow: none;
			background: 0 0;
			height: auto;
			background-color: $white;
			padding: 5px 15px;
			border-radius: 3px;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			border: none;
    	}
    	.search-btn {
    		color: $white;
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			background: none;
			height: 100%;
			font-size: 22px;
			background: none;
    	}
	}
	h2 {
		margin: 0 ;
		padding:0 0 0;
		font-size: 16px;
		font-weight:bold;
	}
	.well {
		border: none;
		background: #f1f1f1;
		border-radius: 0px;
		box-shadow: none;
		height: 86px;
		margin: 0 0 20px;
		position:relative;
		z-index:2;
		small {
			color: #666;
			font-size: 75%;
			display: block;
		}
	}

	.box-wrap {
		padding: 10px 0 20px;
		z-index:1;
		position:relative;
		.not-available {
			margin: 0;
		}
		.box-list {
			position:relative;
			overflow: hidden;
			float: left;
			width: 33.3333%;
			padding-bottom: 33.3333%;
			background: #343434;

			.box-link {
				position: absolute;
				z-index: 333;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
				&:hover {
					background: rgba(0,0,0,0.5);
				}
			}
			.box-cover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover !important;
			}
			.content {
				position: absolute;
				bottom: 0;
				height: auto;
				width: 100%;
				z-index: 334;
				padding: 40px 0;
				color: #fff;
				text-align: center;
				background: -moz-linear-gradient(top,transparent 0,rgba(0,0,0,.6)100%);
				background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,transparent),color-stop(100%,rgba(0,0,0,.6)));
				background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.6)100%);
				background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.6)));
				background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.6)100%);
				.author-avatar {
					position: relative;
					margin: 0 auto;
					display: inline-block;
					padding: 3px;
					img {
						width: 40px;
						height: 40px;
					}
					&:hover {
						background: #ccc;
						border-radius: 100%;
						padding: 3px;
					}
				}
				
				h3 {
					margin: 0;
					padding: 7px 0 0;
					font-size: 15px;
					font-weight:bold;
					text-transform: uppercase;
				}
				a {
					color: #fff;
					position: relative;
					z-index: 334;
					&:hover {
						color: #ccc;
						text-decoration: none;
					}
				}
				
				p, .author b{
					font-style: italic;
					font-family: "Times New Roman", Times, serif;
				}
				.author-name {
					font-weight: bold;
					text-transform: uppercase;
					font-size: 13px;
				}

			}
		}
	}
	.load-more {
		padding: 20px 0;
		text-align: center;
		width: 100%;
		display: inline-table;
		text-transform:uppercase;
	}
	.load-more .btn {
		font-weight: bold;
	}
	.media-list {
		margin: 10px 0 0;
		padding:0 0 10px 0;
		max-height: calc(100vh - 188px); /* max-height: calc(100vh - 222px); */
		overflow-y: auto;
		.media {
			background: $white;
			margin: 0;
			display: table;
			.avater-box {
				display: table-cell;
				margin-right: 7px;
				img {
					width: 60px;
					height: 60px;
				}
			}
			.media-body {
				vertical-align: middle;
				padding-left: 15px;
			}
			a {
				margin: 0;
				padding: 10px 15px;
				font-size: 14px;
				font-weight: bold;
				color: #555;
				text-transform: uppercase;
			}
			p {
				font-size: 13px;
				color: #777;
			}
			&:hover {
				background: #3b444f;
				a {
					color: $white;
				}
			}
		}
		.btn-follow {
			padding: 4px 15px;
			font-size: 12px;
			font-weight: bold;
		}
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#searchWrap .box-wrap .box-list {
		position:relative;
		overflow: hidden;
		float: left;
		width: 50%;
		padding-bottom: 50%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#searchWrap .box-wrap .box-list {
		position:relative;
		overflow: hidden;
		float: none;
		width: 100%;
		padding-bottom: 100%;
	}
}