@import "variables";
.storytellers-wrap{
	min-height: 100%;
	.tt-header {
		//background: url(http://res.cloudinary.com/triptroop/image/upload/c_scale,w_1000/v1435863812/hero/mb1.jpg) no-repeat top center;
		// background: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/hero/bg8.jpg) center / cover;
		background: url(http://res.cloudinary.com/triptroop/image/upload/v1435863797/hero/mb1.jpg) right top / cover;
		height: 350px;
		overflow: hidden;
		position: relative;
		display: table;
		width: 100%;
		&:after {
			display: none;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.15);
		}
		.header-meta {
			position: relative;
			text-align: center;
			z-index: 1;
			display: table-cell;
			height: 100%;
			vertical-align: middle;
			h1 {
				font-family: Great Vibes;
				clear: both;
				font-weight: 400;
				font-size: 96px;
				letter-spacing: 0.05em;
				line-height: 1;
				color: #FFF;
				margin: 0;
				display: inline-block;
				text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
			}
			h2 {
				font-family: roboto;
				color: $white;
				letter-spacing: 0.14em;
			}
		}
		.import-links {
			display: none;
			background: #FFF;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			bottom: 20px;
			right: 20px;
			overflow: hidden;
			border-radius: 2px;
			li {
				float: left;
				&:first-child {
					background: #F6F7F7;
					line-height: 50px;
					padding: 0 20px;
					text-shadow: none;
				}
				a {
					display: block;
					width: 50px;
					color: #FFF;
					height: 50px;
					padding: 17px;
					text-shadow: none;
					@extend .animate-all;
					&.fb {
						color: #3B5998;
						&:hover {
							background: $facebook; 
							color: $white;
						}
					}
					&.gplus {
						color: #D14836;
						&:hover {
							background: $google-plus; 
							color: $white;
						}
					}
					&.twitter {
						color: #00ACED;
						&:hover {
							background: $twitter; 
							color: $white;
						}
					}
					&.insta {
						color: #3F729B;
						&:hover {
							background: $instagram; 
							color: $white;
						}
					}
				}
			}
		}
	}
	.tt-content {
		//background: #ECECEC;
		//background: #ecf0f3;
		padding: 10px;
	}
	.col-md-2 {
		padding: 0;
		border: 10px solid #f5f6f7;
		width: 20%;
	}
	.user-card {
		background: $white;
		margin: 0;
		height: auto;
		padding: 0;
		//box-shadow: 0 1px 1px rgba(0,0,0,.15);
		.avatar {
			img {
				width: 100%;
			}
			&:after {
				content: "";
				display: none;
				padding-top: 100%;
			}
		}
		.user-action {
			  background: $info;
			  color: $white;
			  right: 15px;
			  border-radius: 2px;
			  top: 20px;
			  font-size: 11px;
			  z-index: 1;
			  padding: 0 6px;
			  margin: 0;
			  font-weight: bold;
			  line-height: 18px;
				&:hover {
					background: $brand-blue;
				}
			  &.following {
			  	background: #ecf0f3;
			  	background: rgba(255, 255, 255, 0.7);
				color: $info;
				&:hover {
					background: $error;
					color: $white;
				}
			}
		}
		h3 {
			a {
				font-family: "Roboto","sans-serif","Helvetica Neue",Helvetica,Arial,sans-serif;
				background: $white;
				font-size: 16px;
				color: $dark-text;
				font-weight: 500;
				margin: 0;
				padding: 20px;
				text-transform: capitalize;
				@extend .animate-all;
			}
		}
		.user-meta {
			font-size: 85%;
			line-height: 1.5;
			text-overflow: ellipsis;
			width: 100%;
			background: $white;
			.ver-icon {
				color: #3E50B4;
			}
			hr {
				margin: 8px 0;	
				width: 70%;
			}
			.location {
				color: #aaa;
			}
		}
		.info {
			letter-spacing: .1rem;
			a {
				color: #858C97;
				text-transform: uppercase;
			}
			ul {
				margin: 0;
			}
			li {
				width: 33.33%;
				float: left;
				a {
					padding: 15px 0px 15px 20px;
					display: block;

					/*&:hover {
						color: $white;
					}*/
				}
				h2 {
					font-family: inherit;
					margin: 7px 0 7px 25px;
					font-size: 14px;
					font-weight: 400;
				}
				h6 {
					font-family: inherit;
					font-size: 85%;
					font-weight: 400;
					display: none;
				}
				&.stories-counter {
					a {
						background: url(../images/stories-counter.png) no-repeat 15px 20px #fff;
						background-size: 25%;
						&:hover {
							background: url(../images/stories-counter.png) no-repeat 15px 20px #efefef;
							color: #000;
							background-size: 25%;
						};
					}
				}
				&.followers-icon {
					a {
						background: url(../images/follower-icon.png) no-repeat 15px 20px #fff;
						background-size: 25%;
						&:hover {
							background: url(../images/follower-icon.png) no-repeat 15px 20px #efefef;
							color: #000;
							background-size: 25%;
						};
					}
				}
				&.following-icon {
					a {
						background: url(../images/following-icon.png) no-repeat 15px 20px #fff;
						background-size: 25%;
						&:hover {
							background: url(../images/following-icon.png) no-repeat 15px 20px #efefef;
							color: #000;
							background-size: 25%;
						};
					}
				}
			}
		}
	}
}
.popular-wrap {
	min-height: 100%;
	.tt-header {
		//background: url(http://res.cloudinary.com/triptroop/image/upload/c_scale,w_1000/v1435863812/hero/mb1.jpg) no-repeat top center;
		//background: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/hero/bg6.jpg) center / cover;
		background: url(http://res.cloudinary.com/triptroop/image/upload/v1435863797/hero/mb4.jpg) right bottom / cover;
		height: 350px;
		overflow: hidden;
		position: relative;
		display: table;
		width: 100%;
		&:after {
			display: none;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.15);
		}
		.header-meta {
			position: relative;
			text-align: center;
			z-index: 1;
			display: table-cell;
			height: 100%;
			vertical-align: middle;
			h1 {
				font-family: great vibes;
				clear: both;
				font-weight: 400;
				font-size: 96px;
				letter-spacing: 0.05em;
				line-height: 1;
				color: #FFF;
				margin: 0;
				display: inline-block;
				text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
			}
			h2 {
				font-family: roboto;
				color: $white;
				letter-spacing: 0.14em;
			}
		}
	}
	.tt-content {
		margin: 0;
		padding: 0;
	}
}