@import "variables";
/* ------------------------- Category Page --------------------*/
.catergories-wrap {
    .tt-header {
        //background: url(http://res.cloudinary.com/triptroop/image/upload/v1435863812/hero/mb9.jpg) no-repeat top center;
        //background: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/hero/bg3.jpg) center / cover;
        background: url(/assets/images/hero/a.jpg) right bottom / cover;
        &.adventure {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/adventure3.jpg);
            background-position: center;
        }
        &.arts-and-liesure {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/art2.jpg);
            background-position: right center;
        }
        &.backpacking {
            background-image: url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/world.jpg);
            background-position: left center;
        }
        &.beaches {
            background-image: url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/beach1.jpg);
            background-position: right bottom;
        }
        &.budget-travel {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/budget-travel1.jpg);
            background-position: center;
        }
        &.coasts-and-islands {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/costs1.jpg);
        }
        &.diving-and-snorkelling {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/diving.jpg);
        }
        &.ecotourism {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/ecotourism.jpg);
        }
        &.family-travel {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/family.jpg);
            background-position: right bottom;
        }
        &.festival-and-events {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/festival.jpg);
        }
        &.film-and-television {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/film1.jpg);
        }
        &.food-and-drink {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/food.jpg);
        }
        &.gear-and-tech {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/gear2.jpg);
        }
        &.honeymoon-and-romance {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/romance3.jpg);
        }
        &.luxury-travel {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/luxury.jpg);
            background-position: center top;
        }
        &.music {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/music.jpg);
            background-position: center left;
        }
        &.off-the-beaten-track {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/beaten-track3.jpg);
        }
        &.planes-and-trains {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/plane.jpg);
            background-position: center top;
        }
        &.road-trips {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/road3.jpg);
            background-position: right bottom;
        }
        &.round-the-world-travel {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/world2.jpg);
        }
        &.travel-photograhpy {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/photography1.jpg);
        }
        &.travel-shopping {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/shopping.jpg);
        }
        &.walking-and-trekking {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,c_scale,h_600/v1426832357/categories/trekking1.jpg);
            background-position: right center;
        }
        &.wildlife-and-nature {
            background-image:url(https://res.cloudinary.com/triptroop/image/upload/q_50,e_saturation,c_scale,h_600/v1426832357/categories/wildlife2.jpg);
        }
        .head-wrap {
            position: absolute;
            top: 0px;
            width:100%;
            height: 100%;
            background: rgba(0,0,0,0.31);
        }
        .is-scroll-to-content {
            color: #ffffff;
            bottom: 15px;
            right: 30px;
            z-index: 1;
            font-size: 50px;
            opacity: .7;
            z-index: 999;
            display: inline-block;
        }

    }
    .tt-content {
        padding: 12px;
    }
    .categories-post-grid {
        overflow: hidden;
        .category {
            position: relative;
        }
        .category-title {
            padding: 5% 0;
            position: relative;
            z-index: 33333;
            background: #fff;
            .content {
                min-height: 40px;
                width: 90%;
                margin: 0px auto;
                h2 {
                    /* display: inline-block; */
                    font-size: 2.6vw;
                    letter-spacing: 7px;
                    margin: 0;
                    text-transform: uppercase;
                    line-height: normal;
                    float: left;
                    white-space: nowrap;
                    a {
                        border: none;
                        display: inline-block;
                        line-height: normal;
                    }
                }
            }
            a.about-category {
                max-width: 50%;
                float: right;
                font-family: "adobe-garamond-pro", serif;
                font-size: 1.3vw;
                font-style: italic;
                position: relative;
                padding-top: 1.5%;
                color: #737373;
                border: none;
                white-space: nowrap;
            }
        }

        ul {
            margin: 0px;
            padding: 0px;
        }

    }
    .categories-middle {
        max-width: 750px;
        width: 100%;
        margin: 0px auto;
        .title {
            h2 {
                font-family: "adobe garamond pro";
                padding: 0;
                margin: 0;
                font-size: 32px;
                font-weight: 600;
                text-transform: uppercase;
                i:first-child {
                    margin-right: 12px;
                }
                i:last-child {
                    margin-left: 12px;
                }
            }
        }

    }
}
.theme-card {
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    height: 20vw;
    width: calc(25% - 14px);
    margin: 7px;
    float: left;
    display: table;
    overflow: hidden;
    &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: rgba(0, 0, 0, 0.25);
        content: " ";
    }
    &.card-half {
        //width: 50%;
    }
    &.adventure {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/Adventure-img.jpg);
    }
    &.arts-and-liesure {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/arts-and-lieasure-img.jpg);
    }
    &.backpacking {
        background-image: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/backpacking-img.jpg);
    }
    &.beaches {
        background-image: url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/beach-img.jpg);
    }
    &.budget-travel {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/budget-traval-img.jpg);
    }
    &.coasts-and-islands {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/coasts-and-islands-img.jpg);
    }
    &.diving-and-snorkelling {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/diving-and-snorkelling-img.jpg);
    }
    &.ecotourism {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/ecotourism-img.jpg);
    }
    &.family-travel {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/family-travel-img.jpg);
    }
    &.festival-and-events {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/festival-and-events-img.jpg);
    }
    &.film-and-television {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/film-and-television-img.jpg);
    }
    &.food-and-drink {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/food-and-drink-img.jpg);
    }
    &.gear-and-tech {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/gear-and-tech-img.jpg);
    }
    &.honeymoon-and-romance {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/honymoon-and-romance-img.jpg);
    }
    &.luxury-travel {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/luxury-travel-img.jpg);
    }
    &.music {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/music-img.jpg);
    }
    &.off-the-beaten-track {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/off-the-beaten-track-img.jpg);
    }
    &.planes-and-trains {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/planes-and-trains-img.jpg);
    }
    &.road-trips {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/road-trips-img.jpg);
    }
    &.round-the-world-travel {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/round-the-world-travel-img.jpg);
    }
    &.travel-photograhpy {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/travel-photoghraphy-img.jpg);
    }
    &.travel-shopping {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/travel-shopping-img.jpg);
    }
    &.walking-and-trekking {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/walking-and-trekking-img.jpg);
    }
    &.wildlife-and-nature {
        background-image:url(https://s3-us-west-2.amazonaws.com/triptroop/assets/images/themes/thumbs/wild-life-and-nature-img.jpg);
    }
    .category-icon {
        background: #EEE;
        display: none;
        border-radius: 50%;
        height: 96px;
        margin: 0 auto;
        width: 96px;
    }
    a {
        display: table-cell;
        height: 100%;
        padding: 25px;
        background: black;
        background: rgba(0,0,0,0.6);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
        background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
        letter-spacing: .05em;
        vertical-align: middle;
        text-align: center;
    }
    h4 {
        color: #FFF;
        font-size: 30px;
        display: inline-block;
        font-weight: 400;
        margin: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.23);
    }
    small {
        color: #FFF;
        vertical-align: middle;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        font-size: 90%;
        text-transform: uppercase;
        margin-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.52);
        padding: 10px 30px 0;
    }
    .section-title {
        padding-top: 60px;
    }
}
.popular-wrap {
    min-height: 100%;
    .tt-header {
        background: url(/assets/images/hero/e.jpg) right bottom / cover;
    }
    .tt-content {
        margin: 0;
        padding: 0;
    }
}