@import "variables";
body {
	color: $dark-text;
	font-family: "Open Sans","sans-serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}
/*
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: Georgia;
}
*/
h1 {
	font-size: 32px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 12px;
}
.section-title {
	margin: 65px 30px 42px;
	width: 100%;
	h2 {
		//color: #4e5567;
		padding: 0;
		margin: 0;
		font-size: 40px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: .1rem;
		font-family: roboto;
		i {
			font-size: 18px;
			position: relative;
			top: -3px;
			&:first-child {
				margin-right: 12px;
			}
			&:last-child {
				margin-left: 12px;
			}
		}
		a {
			color: $text;
			font-size: 26px;
			@extend .animate-all;
			& + a {
				margin-left: 50px;
			}
			&:hover {
				color: lighten($text, 10%);
			}
			&.active {
				color: $dark-text;
			}
		}
		.block {
			margin-top: 15px;
			font-size: 55%;
			letter-spacing: normal;
		}
	}
}
.tt-header {
	height: 350px;
	overflow: hidden;
	position: relative;
	display: table;
	width: 100%;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	&:after {
		display: none;
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.15);
	}
	.header-meta {
		position: relative;
		text-align: center;
		z-index: 1;
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		h1 {
			font-family: inherit;
			clear: both;
			font-weight: 500;
			font-size: 60px;
			letter-spacing: 0.05em;
			line-height: 1;
			color: #FFF;
			margin: 0;
			display: inline-block;
		}
		h2 {
			font-family: roboto;
			color: $white;
			letter-spacing: 0.14em;
			font-size: 28px;
			font-weight: 300;
		}
	}
}