$body-bg : #E5E5E5;
$brand-blue : #00aaff;
$brand-red : #D52E2E;
$orange : #ff6008;
$gray : #AAA;
$bright-orange : #ff3824;
$primary-blue : #2f6efb;
$light-blue : #d5dceb;
$navy-blue : #02184e;
$text: #494949;
$dark-text: #000;
$white: #ffffff;
$green: #3cdc46;
$pink: #ff5a5f;
$facebook: #4c66a4;
$twitter: #2fc2ef;
$google: #245DC1;
$gmail: #DD4B39;
$google-plus: #dd4b39;
$instagram: #3F729B;
$pintrest: #cb2027;
$stumbleupon: #FF4522;
$tumblr: #35465c;
$success: #16c98d;
$error: #fa5e5b;
$warning: #feef6d;
$info: #0FDEBD;
.animate-all {
	-webkit-transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-ms-transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-o-transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.white-bg {
	background: $white;
}